python-subunit
testrepository
flexmock
coverage
webtest
pyaml
python-keystoneclient>=0.11.0
keystonemiddleware!=4.19.0
lxml>=2.3.3
neutron_lib
gevent
geventhttpclient==1.0a
netaddr>=0.7.5
bitarray>=0.8.0
psutil>=0.6.0
python-novaclient
kombu==4.0.2
netifaces
stevedore
testscenarios
kazoo
contrail-api-client
contrail-api-server
sandesh==0.1dev
sandesh-common
pyOpenSSL
mock
vine==1.1.3
future
