python-subunit
testrepository
flexmock
coverage
webtest
pyaml
python-keystoneclient
lxml>=2.3.3
gevent
geventhttpclient==1.0a
pycassa>=1.7.2
netaddr>=0.7.5
bitarray>=0.8.0
psutil>=0.4.1
python-novaclient
kombu
netifaces
stevedore
testscenarios
../../../../third_party/ifmap-python-client
../../../../distro/third_party/kazoo
../../../../build/debug/config/common/dist/cfgm_common-0.1dev.tar.gz
../../../../build/debug/api-lib/dist/vnc_api-0.1dev.tar.gz
../../../../build/debug/config/api-server/dist/vnc_cfg_api_server-0.1dev.tar.gz
../../../../build/debug/discovery/client/dist/discoveryclient-0.1dev.tar.gz
../../../../build/debug/tools/sandesh/library/python/dist/sandesh-0.1dev.tar.gz
../../../../build/debug/sandesh/common/dist/sandesh-common-0.1dev.tar.gz
