contrail-config-common
contrail-api-client
sandesh
sandesh-common
gevent==1.1a2
pycassa>=1.7.2
psutil>=0.6.0
lxml>=2.3.3
gevent==1.1a2
geventhttpclient==1.0a
netaddr>=0.7.5
kombu
bottle
stevedore
ansible==2.4.3
timeout-decorator
subprocess32
jsonschema
inflection>=0.3.1
