python-subunit
testrepository
flexmock
mock
coverage
pyaml
python-keystoneclient
python-novaclient
webtest
sandesh
sandesh_common
contrail-api-client
contrail-api-server
junitxml
timeout-decorator
subprocess32
pycrypto
python-swiftclient
ansible
