{%     for ri in device_abstract_config.features.get('vn-interconnect').get('routing_instances', []) %}
{%         set vrf = ri.get('description', '')[:127] %}
{%         set rib_group_name = ri.get('rib_group', '') %}
{%         if ri.get('loopback_interfaces', []) %}
{%             set loopback_ip = ri.get('loopback_interfaces')[0].get('name')%}
{%         endif %}
{%         if ri.get('forwarding_options') %}
set groups {{cfg_group}} routing-instances {{vrf}} forwarding-options dhcp-relay forward-only
set groups {{cfg_group}} routing-instances {{vrf}} forwarding-options dhcp-relay forward-only-replies
set groups {{cfg_group}} routing-instances {{vrf}} forwarding-options dhcp-relay overrides relay-source {{loopback_ip}}
{%             for dhcp_relay in ri.get('forwarding_options', {}).get('dhcp_relay', []) %}
{%                 set comment = dhcp_relay.get('comment') %}
{%                 set dhcp_relay_group = dhcp_relay.get('dhcp_relay_group', '') %}
{%                 set dhcp_server_ips = dhcp_relay.get('dhcp_server_ips', []) %}
{%                 for irb_int in ri.get('routing_interfaces', []) %}
{%                     set irb_name = irb_int.get('name') %}
set groups {{cfg_group}} routing-instances {{vrf}} forwarding-options dhcp-relay group {{dhcp_relay_group}} interface {{irb_name}}
{%                 endfor %}
{%                 for dhcp_ip_addr in dhcp_server_ips %}
{%                     set dhcp_ip = dhcp_ip_addr.get('address') %}
set groups {{cfg_group}} routing-instances {{vrf}} forwarding-options dhcp-relay server-group DHCP_SERVER_GROUP {{dhcp_ip}}
{%                     if not dhcp_relay.get('in_network') %}
set groups {{cfg_group}} forwarding-options dhcp-relay forward-only-replies
set groups {{cfg_group}} routing-instances {{vrf}} routing-options static route {{dhcp_ip}} next-table inet.0
set groups {{cfg_group}} routing-instances {{vrf}} routing-options interface-routes rib-group inet {{rib_group_name}}
set groups {{cfg_group}} routing-options rib-groups {{rib_group_name}} import-rib {{vrf}}.inet.0
set groups {{cfg_group}} routing-options rib-groups {{rib_group_name}} import-rib inet.0
{%                     endif %}
{%                 endfor %}
{%             endfor %}
set groups {{cfg_group}} routing-instances {{vrf}} forwarding-options dhcp-relay active-server-group DHCP_SERVER_GROUP
{%         endif %}
{%     endfor %}
