{
  "model": "{{device_info.Objs[0].hardware}}",
  "serialnumber": "{{device_info.Objs[0].serialnumber}}",
  "version": "{{device_info.Objs[0].osversion}}",
  "hostname": "{{device_info.Objs[0].hostname}}"
}