pycassa>=1.7.2
kazoo
# kombu # comment due to a dependency issue with RPM packaging https://bugzilla.redhat.com/show_bug.cgi?id=1357660
kombu
bitarray
bottle
attrdict
requests
sandesh
contrail-api-client
