flexmock==0.10.4; python_version=='2.7'
kombu==4.0.2; python_version=='2.7'
mock==4.0.2; python_version=='2.7'
python-novaclient==16.0.0; python_version=='2.7'
testtools==2.4.0; python_version=='2.7'
WebTest==2.0.34; python_version=='2.7'
flexmock==0.10.4; python_version > '2.7'
kombu==4.0.2; python_version > '2.7'
mock==4.0.2; python_version > '2.7'
python-novaclient==16.0.0; python_version > '2.7'
testtools==2.4.0; python_version > '2.7'
WebTest==2.0.34; python_version > '2.7'
