enable-tftp
tftp-root=/etc/tftp
dhcp-vendorclass=set:jn,Juniper
{% if ztp_dhcp_config.ipam_subnets is defined %}
{%   for subnet in ztp_dhcp_config.ipam_subnets %}
{%     set cidr = subnet.subnet.ip_prefix + '/' + subnet.subnet.ip_prefix_len|string %}
{%     set netmask = cidr | ipv4('netmask') %}
{%     set broadcast = cidr | ipv4('broadcast') %}
{%     set alloc_list = [] %}
{%     set x = alloc_list.append((cidr | ipsubnet(31,0) | ipv4('address')) | ipaddr('int')) %}
{%     set y = alloc_list.append((cidr | ipsubnet(31,-1) | ipv4('address')) | ipaddr('int') +1) %}
{%     set z = alloc_list.append((subnet.default_gateway | ipv4('address')) | ipaddr('int')) %}
{%     set alloc_list = alloc_list | sort %}
{%     set length = alloc_list | length %}
{%     for idx in range(length-1) %}
{%       if alloc_list[idx+1] != alloc_list[idx]+1 %}
{%         set first_ip = (alloc_list[idx]+1) | ipaddr %}
{%         set last_ip = (alloc_list[idx+1]-1) | ipaddr %}
{%           if subnet.intf_name is defined %}
dhcp-range=set:{{ subnet.intf_name }},{{ first_ip }},{{ last_ip }},{{ netmask }},{{ broadcast }},12h
{%           else %}
dhcp-range={{ first_ip }},{{ last_ip }},{{ netmask }},{{ broadcast }},12h
{%           endif %}
{%       endif %}
{%     endfor %}
{%     if subnet.default_gateway is defined %}
{%       if subnet.intf_name is defined %}
dhcp-option=tag:{{ subnet.intf_name }},option:router,{{ subnet.default_gateway }}
{%       else %}
dhcp-option=option:router,{{ subnet.default_gateway }}
{%       endif %}
{%     endif %}
{%     if subnet.intf_name is defined %}
dhcp-option=tag:{{ subnet.intf_name }},66,{{ subnet.intf_ip }}
dhcp-option=tag:{{ subnet.intf_name }},150,{{ subnet.intf_ip }}
{%     else %}
dhcp-option=66,<host-ip>
dhcp-option=150,<host-ip>
{%     endif %}
{%   endfor %}
{% endif %}
dhcp-option=tag:jn,encap:43,1,"{{ fabric_name }}_juniper.sh"
dhcp-option=tag:jn,encap:43,3,"tftp"
{% if ztp_dhcp_config.static_ips is defined %}
{%   for ip, mac in ztp_dhcp_config.static_ips.items() %}
dhcp-host={{ mac }},{{ ip }}
{%   endfor %}
{% endif %}
{% if ztp_dhcp_config.static_host_ips is defined %}
{%   for ip, host in ztp_dhcp_config.static_host_ips.items() %}
dhcp-host={{ host }},{{ ip }}
{%   endfor %}
{% endif %}
dhcp-script=/etc/scripts/dnsmasq_init_script.sh
leasefile-ro
