.venv
*.pyc
*.testrepository
build
gen
*.egg-info
*.log
*.db
dist
.*.sw*
.project
.pydevproject
.idea
.DS_Store
Doxygen
*.retry
.vscode
go.sum
src/cat/types
src/cat/test/*.json
.tox
.stestr
testr.subunit
