[access "refs/heads/*"]
        label-Code-Review = -2..+2 group contrail-controller-core
        label-Approved = +0..+1 group contrail-controller-core
        workInProgress = group contrail-controller-core
[access "refs/heads/R1.10"]
        exclusiveGroupPermissions = label-Approved
        label-Approved = +0..+1 group Release Managers
[access "refs/heads/R1.30"]
        exclusiveGroupPermissions = label-Approved
        label-Approved = +0..+1 group Release Managers
[access "refs/heads/R2.0"]
        exclusiveGroupPermissions = label-Approved
        label-Approved = +0..+1 group Release Managers
[access "refs/heads/R2.1"]
        exclusiveGroupPermissions = label-Approved
        label-Approved = +0..+1 group Release Managers
[access "refs/heads/R2.20"]
        exclusiveGroupPermissions = label-Approved
        label-Approved = +0..+1 group Release Managers
[access "refs/heads/R2.20.x"]
        exclusiveGroupPermissions = label-Approved
        label-Approved = +0..+1 group Release Twig Managers
[access "refs/heads/R2.21.x"]
        label-Approved = +0..+1 group Release Twig Managers
	exclusiveGroupPermissions = label-Approved
[access "refs/tags/*"]
        create = group contrail-controller-core
        pushTag = group contrail-controller-core
[receive]
        requireChangeId = true
[submit]
        mergeContent = true
[notify "team"]
        email = ci-admin@opencontrail.org
[project]
	state = active
[access "refs/heads/R3.0"]
	exclusiveGroupPermissions = label-Approved
	label-Approved = +0..+1 group Release Managers
[access "refs/heads/R2.22.x"]
	exclusiveGroupPermissions = label-Approved
	label-Approved = +0..+1 group Release Twig Managers
