system {
    root-authentication {
        encrypted-password "{{ password | encrypt }}";
    }
    services {
        ssh {
            root-login allow;
        }
        telnet;
        netconf {
            ssh;
        }
    }
    syslog {
        user * {
            any emergency;
        }
        file messages {
            any notice;
            authorization info;
        }
        file interactive-commands {
            interactive-commands any;
        }
    }
}
protocols {
    lldp {
        interface all;
    }
}
routing-options {
    static {
        route {{ subnet.cidr }} next-hop {{ subnet.gateway }};
    }
}

{%  if routing_engines|length > 0 %}
apply-groups [{{ routing_engines | join(' ') }}];
groups {
{%      for re in routing_engines %}
    {{ re }} {
        system {
            host-name "{{ prouter_name }}";
        }
        interfaces {
            {{ interface_configuration.get('name') }} {
                unit {{ interface_configuration.get('unit') }} {
                    family inet {
                        address {{ prouter_mgmt_ip }}/{{ interface_configuration.get('prefix') }} {
                            master-only;
                        }
                    }
                }
            }
        }
    }
{%      endfor %}
}
{%  endif %}

{%  if routing_engines|length == 2 %}
{#  Dual RE specific configuration #}
    system {
        commit synchronize;
    }
    chassis {
        redundancy {
            graceful-switchover;
        }
    }
    routing-options {
        nonstop-routing;
    }
{%  endif %}
