{% for pi in device_abstract_config.get('physical_interfaces', []) %}
{%     if (pi.get('interface_type') == 'loopback') %}
{%         for li in pi.get('logical_interfaces',[]) %}
set groups {{cfg_group}} interfaces {{pi.name}} unit {{li.unit}} family {{li.get('family', 'inet')}} address {{li.ip_addresses[0].address}}
{%         endfor %}
{%     endif %}
{% endfor %}
{% for ri in device_abstract_config.get('routing_instances', []) %}
{%     for protocol in ri.get('protocols', []) %}
{%         for pim in protocol.get('pim', []) %}
set groups {{cfg_group}} policy-options policy-statement from_aggregate term LOOPBACK-FOR-PIM from protocol direct
set groups {{cfg_group}} policy-options policy-statement from_aggregate term LOOPBACK-FOR-PIM then accept 
set groups {{cfg_group}} policy-options policy-statement from_aggregate term LOOPBACK-FOR-PIM then community set no-export
set groups {{cfg_group}} policy-options community no-export members no-export
set groups {{cfg_group}} policy-options policy-statement from_aggregate then reject
set groups {{cfg_group}} routing-instances {{ri.name}} protocols pim join-prune-timeout 420
set groups {{cfg_group}} routing-instances {{ri.name}} protocols pim rp local family inet address {{pim.rp.ip_address}}
{%             for pim_intf in pim.get('pim_interfaces',[]) %}
set groups {{cfg_group}} routing-instances {{ri.name}} protocols pim interface {{pim_intf.interface.name}} mode sparse
set groups {{cfg_group}} routing-instances {{ri.name}} protocols pim interface {{pim_intf.interface.name}} version 2
{%             endfor %}
{%         endfor %}
{%     endfor %}
{% endfor %}
