{% for ri in device_abstract_config.get('routing_instances', []) %}
{%     set ns = namespace(name='') %}
{%     if ri.get('description', '') %}
{%         set ns.name = ri.get('description')[:127] %}
{%     else %}
{%         set ns.name = ri.get('name') %}
{%     endif %}
{%     for protocol in ri.get('protocols', []) %}
{%         for pim in protocol.get('pim', []) %}
{%             if 'PNF-Service-Chaining' in pim.get('comment','') %}
set groups {{cfg_group}} routing-instances {{ns.name}} protocols pim rp static address {{pim.rp.ip_address}}
set groups {{cfg_group}} routing-instances {{ns.name}} protocols pim interface all distributed-dr
{%             endif %}
{%         endfor %}
{%     endfor %}
{% endfor %}

{# Add multicast router interface towards PNF device #}
{% for ifd in device_abstract_config.get('physical_interfaces',[]) %}
{%    for ifl in ifd.get('logical_interfaces',[]) %}
{%        if ifl.get('comment','') == 'PNF-Service-Chaining' %}
{%            for vlan in ifl.get('vlans',[]) %}
set groups {{cfg_group}} protocols igmp-snooping vlan {{vlan.get('name')}} interface {{ifd.get('name')}}.{{ifl.get('unit')}} multicast-router-interface
{%            endfor %}
{%        endif %}
{%    endfor %}
{% endfor %}
