[defaults]
host_key_checking = False
log_path = /var/log/contrail/contrail-fabric-ansible-playbooks.log
verbosity = 1
module_utils = ../module_utils

# list any Jinja2 extensions to enable here:
jinja2_extensions = jinja2.ext.loopcontrols
