[defaults]
host_key_checking = False
log_path = /var/log/contrail/config-device-manager/contrail-fabric-ansible-playbooks.log
verbosity = 0
module_utils = ../module_utils
lookup_plugins = ./lookup_plugins

# list any Jinja2 extensions to enable here:
jinja2_extensions = jinja2.ext.loopcontrols, jinja2.ext.do
