---
- name: Ensure the management ip is statically configured for the device
  hosts: localhost
  connection: local
  gather_facts: no

  pre_tasks:
    - set_fact:
        percent_init_dict: { 'total_task_count': 3, 'task_weightage_array': [40, 20, 40] }
    - set_fact:
        prouter_name: "{{playbook_input.device_fqname[-1]}}"
    - set_fact:
        prouter_vendor: "{{playbook_input.vendor | lower}}"

  tasks:
    - import_role:
        name: read_interfaces_info
    - name: Update job log with percentage
      include_tasks: percentage_update.yml
      vars:
        current_index: 1
        jl_message: "Read interface info from {{prouter_vendor}} device, {{prouter_name}}"
    - import_role:
        name: read_mgmt_intf_info
    - name: Update job log with percentage
      include_tasks: percentage_update.yml
      vars:
        current_index: 2
        jl_message: "Read management interface info from {{prouter_vendor}} device, {{prouter_name}}"
    - import_role:
        name: assign_static_device_ip
    - name: Update job log with percentage
      include_tasks: percentage_update.yml
      vars:
        current_index: 3
        jl_message: "Assigned static ip to management interface {{interface_configuration.name}} info for {{prouter_vendor}} device, {{prouter_name}}"
    - set_fact:
        output: "{{output}}"
