---
- name: Ensure the management ip is statically configured for the device
  hosts: localhost
  connection: local
  gather_facts: no

  pre_tasks:
    - name: Include global variables
      include_vars: group_vars/all.yml
    - set_fact:
        percent_init_dict: { 'total_task_count': 4, 'task_weightage_array': [35, 20, 35, 10] }
        prouter_uuid: "{{ playbook_input.device_id }}"
        prouter_fq_name: "{{ playbook_input.device_fqname }}"
        prouter_name: "{{ playbook_input.device_fqname[-1] }}"
        prouter_vendor: "{{ playbook_input.vendor | lower }}"
        prouter_mgmt_ip: "{{playbook_input.device_management_ip}}"
        fabric_uuid: "{{ playbook_input.input.fabric_uuid }}"
    - set_fact:
        job_ctx: "{{job_ctx|combine(percent_init_dict)}}"
    - set_fact:
        prouter_dynamic_ip: "{{playbook_input.input.dynamic_mgmt_ip_tbl}}"
      when: playbook_input.input.dynamic_mgmt_ip_tbl is defined
    - set_fact:
        prouter_dynamic_ip: "{{prouter_mgmt_ip}}"
      when: playbook_input.input.dynamic_mgmt_ip_tbl is undefined
    - set_fact:
        device_to_ztp: "{{ playbook_input.input.device_to_ztp }}"
      when: playbook_input.input.device_to_ztp is defined
    - set_fact:
        supplemental_day_0_cfg: "{{ playbook_input.input.supplemental_day_0_cfg }}"
      when: playbook_input.input.supplemental_day_0_cfg is defined

  tasks:
    - import_role:
        name: rma_validate
      when: playbook_input.input.dynamic_mgmt_ip_tbl is defined
    - import_role:
        name: read_interfaces_info
    - name: Update job log with percentage
      include_tasks: percentage_update.yml
      vars:
        current_index: 1
        jl_message: "Read interface info from {{prouter_vendor}} device, {{prouter_name}}"
    - import_role:
        name: read_mgmt_intf_info
    - name: Update job log with percentage
      include_tasks: percentage_update.yml
      vars:
        current_index: 2
        jl_message: "Read management interface info from {{prouter_vendor}} device, {{prouter_name}}"
    - import_role:
        name: assign_static_device_ip
    - name: Update job log with percentage
      include_tasks: percentage_update.yml
      vars:
        current_index: 3
        jl_message: "Assigned static ip to management interface {{interface_configuration.name}} info for {{prouter_vendor}} device, {{prouter_name}}"
    - import_role:
        name: wait_for_fpc_online
    - name: Change managed state to activating if required to push config during RMA
      vnc_db_mod:
        job_ctx: "{{ job_ctx }}"
        object_type: "physical_router"
        object_op: "update"
        object_dict: |
          {
            "uuid": "{{ prouter_uuid }}",
            "physical_router_managed_state": "activating"
          }
      when: playbook_input.input.dynamic_mgmt_ip_tbl is defined
    - name: Change managed state to active if required during RMA
      vnc_db_mod:
        job_ctx: "{{ job_ctx }}"
        object_type: "physical_router"
        object_op: "update"
        object_dict: |
          {
            "uuid": "{{ prouter_uuid }}",
            "physical_router_managed_state": "active"
          }
      when: playbook_input.input.dynamic_mgmt_ip_tbl is defined
    - name: Update job log with percentage
      include_tasks: percentage_update.yml
      vars:
        current_index: 4
        jl_message: "Fpc online for {{prouter_vendor}} device, {{prouter_name}}"
    - set_fact:
        output: {'status':'Success', 'message':'Assigned static mgmt ip for device: {{prouter_name}}'}
