---
- name: Get the Device Information by reading the Prouter object

  hosts: localhost
  connection: local

  roles:
    - Juniper.junos
    - device_facts_uve
    - device_import_role

  tasks:
    - set_fact:
        result_dict: {"results": "{{results}}"}

    - set_fact:
        output: "{{output | combine(result_dict)}}"

    - name: update prouter logs with onboarded status
      prouter_objectlog:
        prouter_fqname: "{{prouter_fqname}}"
        onboarding_state: "{{DEVICE_STATE.ONBOARDED}}"
        job_ctx: "{{job_ctx}}"
        os_version: "{{os_version}}"
        serial_num: "{{serial_number}}"

    - name: Update Job log with device import job completed status
      job_objectlog:
        job_ctx: "{{ job_ctx }}"
        status: "{{ JOBLOG_STATUS.IN_PROGRESS }}"
        message: "Import Device: {{prouter_name}} succeeded importing {{bulk_create_phy_int_resp_set|length}} PhysicalInterfaces and {{bulk_create_log_int_resp_set|length}} Logical Interfaces"

    - name: insert/update in /tmp/<exec-id> file
      set_fact:
        write_resp: "{{job_ctx.job_execution_id | report_end_of_playbook(job_ctx.unique_pb_id)}}"
