option option-150 code 150={ip-address};

option space jn;
option jn.config-file-name code 1 = text;
option jn.image-file-name code 0 = text;
option jn.image-file-type code 2 = text;
option jn.transfer-mode code 3 = text;
option jn.alt-image-file-name code 4 = text;
option jn.http-port code 5 = text;
option jn-encapsulation code 43 = encapsulate jn;
