- name: Gather fabric details and discover device
  hosts: localhost
  gather_facts: no
  connection: local
  vars:
     output: {"status":"", "message":""}
     host_prefix: []

  pre_tasks:
    - name: Include global variables
      include_vars: group_vars/all.yml

    - set_fact:
        job_ctx: "{{job_ctx|combine({'current_task_index':1,
          'total_task_count':3, 'task_weightage_array':[10, 85, 5] })}}"

    - set_fact:
        fabric_fq_name: "{{ playbook_input.input.fabric_fq_name }}"
      when: playbook_input.input.fabric_fq_name is defined

    - set_fact:
        fabric_uuid: "{{ playbook_input.input.fabric_uuid }}"
      when: playbook_input.input.fabric_uuid is defined

    - set_fact:
         tag_fq_name: "label=fabric-management-ip"

    - set_fact:
        host_list: "{{ playbook_input.input.device_list }}"
      when: playbook_input.input.device_list is defined

  roles:
   - { role: fabric_namespace_read, when: host_list is undefined }
   - discover_device_role

  post_tasks:
    - name: set output warning message
      set_fact:
        output: "{{ output|combine({'status': 'Warning', 'message': discovery_results.warning_msg, 'device_json': discovery_results.device_info})}}"
      when: discovery_results.warning_msg is defined and discovery_results.warning_msg|length > 0

    - name: set output warning message
      set_fact:
         output: "{{ output|combine({'status':'SUCCESS', 'message':'Completed device discovery', 'device_json': discovery_results.device_info})}}"
      when: discovery_results.warning_msg is defined and discovery_results.warning_msg|length == 0

    - name: print output
      debug: var=output verbosity=1
