---
- name: get node profile hint for physical routers in the fabric

  hosts: localhost
  connection: local

  roles:
    - Juniper.junos
    - discover_role

  tasks:

    - set_fact:
        output: "{{output }}"
