- name: Gather fabric details and discover device
  hosts: localhost
  gather_facts: no
  connection: local
  vars:
     output: {"status":"", "message":""}
     host_prefix: []

  pre_tasks:
    - set_fact:
        fabric_fq_name: "{{ playbook_input.input.fabric_fq_name }}"
      when: playbook_input.input.fabric_fq_name is defined

    - set_fact:
        fabric_uuid: "{{ playbook_input.input.fabric_uuid }}"
      when: playbook_input.input.fabric_uuid is defined

    - set_fact:
         tag_fq_name: "label=fabric-management_ip"

  roles:
   - fabric_namespace_read
   - discover_device_role

  post_tasks:
    - name: set output parameter
      set_fact:
         output: "{{ output|combine({'status':'SUCCESS', 'message':'Discover playbook successfully executed'})}}"

    - debug: var=output verbosity=1
