- set_fact:
    output: {
       "status": "Failure",
       "message": "{{op_err_message}}",
       "results": "{{results}}"
    }

- name: print output
  debug: var=output verbosity=1

- name: "Append job log for the error"
  job_objectlog:
    job_ctx: "{{ job_ctx }}"
    status: "{{ JOBLOG_STATUS.IN_PROGRESS }}"
    message: "{{ jl_err_message }}"
    device_name: "{{ prouter_name if prouter_name is defined else '' }}"

- meta: end_play
