---
- name: Onboard fabric data model to the database

  hosts: localhost
  connection: local

  tasks:
    - name: onboard fabric
      set_fact:
        output: "{{ job_ctx | onboard_existing_fabric }}"

    - block:
        - set_fact:
            op_err_message: "Failed to onboard existing fabric due to error: {{ output.error_msg }}. Here is the fabric onboard log: {{ output.onboard_log}}"
            jl_err_message: "Failed to onboard existing fabric due to error: {{ output.error_msg }}"
            results: {}

        - name: Update job log with percentage
          include_tasks: percentage_update.yml
          vars:
            current_index: 1
            jl_message: "{{ jl_err_message }}"

        - pause: seconds=5

        - name: handle failure
          include_tasks: error_handler.yml
      when: output.status == 'failure'

#    - name: Update Job log with fabric onboarding job status
#      job_objectlog:
#        job_ctx: "{{ job_ctx }}"
#        status: "{{ JOBLOG_STATUS.IN_PROGRESS }}"
#        jl_message: "Successfully onboarded fabric '{{ playbook_input.input.fabric_fq_name[-1] }}'"

    - set_fact:
        message: "Successfully onboarded fabric '{{ playbook_input.input.fabric_fq_name[-1] }}'"

    - set_fact:
        job_log_info: "{{ job_log_info|default({}) | combine ({
        'device_name': None, 'details': None, 'message': message }) }}"

    - name: insert/update in /tmp/<exec-id> file
      set_fact:
        write_resp: "{{job_ctx | job_log_percentage_completion(job_log_info)}}"
