---
- name: Onboard fabric data model to the database

  hosts: localhost
  connection: local

  roles:
    - fabric_onboard_role

  tasks:
    - set_fact:
        output: "{{ fabric_onboard_result }}"

    - name: Update Job log with fabric onboarding job status
      job_objectlog:
        job_ctx: "{{ job_ctx }}"
        status: "{{ JOBLOG_STATUS.IN_PROGRESS }}"
        message: "Successfully onboarded fabric: {{ playbook_input.input.fabric_fq_name }}"
