---

- name: Push fabric config to device and read back facts
  hosts: localhost
  connection: local
  vars:
    input: "{{ playbook_input.input }}"
    additional_feature_params: "{{ input.additional_feature_params }}"
    device_info: "{{ input.device_abstract_config.system }}"
    device_name: "{{ device_info.name }}"
    device_vendor: "{{ device_info.vendor_name|lower }}"
    device_family: "{{ device_info.device_family|lower }}"
    device_username: "{{ device_info.credentials.user_name }}"
    device_password: "{{ device_info.credentials.password }}"
    device_mgmt_ip: "{{ device_info.management_ip }}"
    output: {"status":"", "message":"", "results":""}

  pre_tasks:
    - set_fact:
        job_ctx: "{{job_ctx|combine({'total_task_count':2, 'task_weightage_array':[20, 80] })}}"

    - set_fact:
        device_abstract_config: "{{input.device_abstract_config}}"
      when: input.is_delete is undefined or input.is_delete == False

    - set_fact:
        conf_dir: "./config/{{ device_mgmt_ip }}"

    - name: Remove build folder if it already exists
      file:
        path: "{{ conf_dir }}"
        state: absent

    - name: Create build folder
      file:
        path: "{{ conf_dir }}/build_config"
        state: directory

  roles:
    - cfg_basic
    - cfg_ip_clos
    - cfg_overlay_bgp
    - cfg_overlay_evpn
    - cfg_overlay_evpn_interfaces
    - cfg_overlay_evpn_targets
    - cfg_overlay_evpn_type5
    - cfg_overlay_evpn_vlans
    - cfg_overlay_fip_snat
    - cfg_overlay_networking
    - cfg_overlay_multi_homing
    - cfg_overlay_lag
    - commit_fabric_config

  tasks:
    - set_fact:
        prouter_fqname: ['default-global-system-config', '{{ device_name }}' ]

    - name: PR objectlog update to set onboarding state
      prouter_objectlog:
        job_ctx: "{{ job_ctx }}"
        prouter_fqname: "{{ prouter_fqname }}"
        onboarding_state: "{{ DEVICE_STATE.UNDERLAY_CONFIGURED }}"

    - set_fact:
        output: {
              "status": "Success",
              "message": "Underlay config successful for: {{device_mgmt_ip}}"
          }

    - name: print output
      debug: var=output verbosity=1

