---

- name: Push fabric config to device and read back facts
  hosts: localhost
  connection: local
  gather_facts: no

  pre_tasks:
    - name: Include global variables
      include_vars: group_vars/all.yml

    - name: Calculate config templates and render config
      set_fact:
        render_output: "{{ job_ctx | render_fabric_config() }}"

    - name: Set facts on returned values
      set_fact:
        device_mgmt_ip: "{{ render_output.device_mgmt_ip }}"
        device_vendor: "{{ render_output.device_vendor }}"
        device_name: "{{ render_output.device_name }}"
        device_username: "{{ render_output.device_username }}"
        device_password: "{{ render_output.device_password }}"
        is_delete: "{{ render_output.is_delete }}"
        manage_underlay: "{{ render_output.manage_underlay }}"
        enterprise_style: "{{ render_output.enterprise_style }}"
        conf_dir: "{{ render_output.conf_dir }}"
        source_file: "{{ render_output.combined_config }}"

  roles:
    - commit_fabric_config

  tasks:
    - name: Set prouter fqname
      set_fact:
        prouter_fqname: ['default-global-system-config', '{{ device_name }}' ]

    - name: PR objectlog update to set onboarding state
      prouter_objectlog:
        job_ctx: "{{ job_ctx }}"
        prouter_fqname: "{{ prouter_fqname }}"
        onboarding_state: "{{ DEVICE_STATE.UNDERLAY_CONFIGURED }}"
      when: is_delete is undefined or is_delete == False

    - set_fact:
        output: {
              "status": "Success",
              "message": "Underlay config successful for: {{device_mgmt_ip}}"
          }
