---

- name: Maintenance mode deactivation workflow
  hosts: localhost
  connection: local
  roles:
    - Juniper.junos
  vars:
    current_index: 0
    final_task_array:
      total_task_count: 2
      task_weightage_array: [50, 50]

  tasks:
    - set_fact:
        job_ctx: "{{job_ctx|combine(final_task_array)}}"

    - set_fact:
        pr_uuid: "{{item.key}}"
        pr_user: "{{item.value.device_username}}"
        pr_host: "{{item.value.device_management_ip}}"
        pr_fqname: "{{item.value.device_fqname}}"
        pr_name: "{{item.value.device_fqname[-1]}}"
        prouter_name: "{{item.value.device_fqname[-1]}}"
        pr_family: "{{item.value.device_family}}"
        pr_password: "{{item.value.device_password}}"
        pr_vendor: "{{item.value.device_vendor|lower}}"
      with_dict: "{{playbook_input.job_device_json}}"

    - name: Call vnc to read the physical-router {{pr_name}}
      vnc_db_mod:
        job_ctx: "{{ job_ctx }}"
        object_type: "physical_router"
        object_op: "read"
        object_dict: {"uuid": "{{pr_uuid}}"}
      register: prouter_obj

    - set_fact:
        physical_role: "{{ prouter_obj.obj.physical_router_role}}"
        standalone: true

    - name: Deactivate maintenance mode
      include_role:
        name: maintenance_mode_deactivate

    - set_fact:
            output: {
                  "status": "Success.",
                  "message": "Maintenance mode successfully deactivated"
                   }

    - name: Print the output.
      debug:
        var: output
        verbosity: 1
