- set_fact:
    job_ctx: "{{job_ctx|combine({'current_task_index':{{ current_index }}})}}"

- name: "Call joblog to update percentage"
  job_objectlog:
    job_ctx: "{{ job_ctx }}"
    status: "{{ JOBLOG_STATUS.IN_PROGRESS }}"
    message: "{{ jl_message }}"
  register: jl_output

- name: print percentage data
  debug:
    msg: "{{JOB_PROGRESS_MARKER}}{{jl_output.percentage_completed}}{{JOB_PROGRESS_MARKER}}"
    verbosity: 0 
