- set_fact:
    job_ctx: "{{job_ctx|combine({'current_task_index': current_index })}}"

- name: "Call joblog to update percentage"
  job_objectlog:
    job_ctx: "{{ job_ctx }}"
    status: "{{ JOBLOG_STATUS.IN_PROGRESS }}"
    message: "{{ jl_message }}"
    device_name: "{{ prouter_name if prouter_name is defined else '' }}"
  register: jl_output

- name: insert/update in /tmp/<exec-id> file
  set_fact:
    write_resp: "{{job_ctx | report_percentage_completion(jl_output.percentage_completed)}}"
