- name: Generate TFTP script file and sections of DHCP server config file
  hosts: localhost
  gather_facts: no
  connection: local

  roles:
    - ztp_config


- name: Copy ansible-created script files to TFTP server
  hosts: tftp
  gather_facts: no
  connection: "{{ tftp_connection }}"

  tasks:
    - name: Call TFTP role
      import_role:
        name: ztp_tftp


- name: Gather results from TFTP server
  hosts: localhost
  gather_facts: no
  connection: local

  tasks:
    - name: Get TFTP host
      set_fact:
        tftp_host: "{{groups['tftp'][0]}}"

    - name: Get TFTP results
      set_fact:
        tftp_results: |
          {%- set output = hostvars[tftp_host].get('tftp_output', None) -%} {{ output }}

    - name: if error, set ouput and bail
      set_fact:
        output: "{{tftp_results}}"
      when: tftp_results != "\n"


- name: Insert/update ansible-created section of DHCP server config file
  hosts: dhcp
  gather_facts: no
  connection: "{{ dhcp_connection }}"

  tasks:
    - name: Call DHCP role
      import_role:
        name: ztp_dhcp
      when: hostvars['localhost'].output is undefined


- name: Finish up on localhost
  hosts: localhost
  gather_facts: no
  connection: local

  tasks:
    - name: Set final output
      block:
        - name: set output parameter
          set_fact:
            outp: {'status':'Success', 'message':'ZTP playbook successfully executed'}

        - name: Get DHCP host
          set_fact:
            dhcp_host: "{{groups['dhcp'][0]}}"

        - name: Get DHCP results
          set_fact:
            dhcp_results: "{{hostvars[dhcp_host]['dhcp_output']}}"

        - name: Set final output
          set_fact:
            output: "{{outp | combine(dhcp_results)}}"
      when: output is undefined

    - name: print output
      debug: var=output verbosity=1

    - name: Update Job log with ZTP job completed status
      job_objectlog:
        job_ctx: "{{ job_ctx }}"
        status: "{{ JOBLOG_STATUS.IN_PROGRESS }}"
        message: "{{ output.results.jl_message if output.status == 'Failure' else 'Finished ZTP'}}"

    - name: insert/update in /tmp/<exec-id> file
      set_fact:
        write_resp: "{{job_ctx.job_execution_id | report_pb_output(job_ctx.unique_pb_id, output)}}"

    - name: insert/update in /tmp/<exec-id> file
      set_fact:
        write_resp: "{{job_ctx.job_execution_id | report_end_of_playbook(job_ctx.unique_pb_id)}}"
