{% if valid_groups_cfg is defined and valid_groups_cfg != None %}
{%     for group_item in valid_groups_cfg %}
{%         set cfg_group = group_item.name %}
{%         set bgp_group = group_item.protocols.bgp.group %}
{%         if bgp_group is mapping %}
{%             set bgp_group = [bgp_group] %}
{%         endif %}
{%         for bgp_item in bgp_group %}
{%             set bgp_group_name = bgp_item.name %}
{%             if bgp_item.export is defined and bgp_item.export != None %}
{%                 set bgp_export_policy = bgp_item.export %}
{%                 if bgp_export_policy is string %}
{%                     set bgp_export_policy = [bgp_export_policy] %}
{%                 endif %}
{%             endif %}
{%             if bgp_item.type is not defined %}
{%                 do bgp_item.update({'type': 'external'}) %}
{%             endif %}
{%             if bgp_item.type == "internal" %}
{%                 if device_maintenance_mode == "activate" %}
delete groups {{cfg_group}} protocols bgp group {{bgp_group_name}} export
set groups {{cfg_group}} protocols bgp group {{bgp_group_name}} export [ MAINTENANCE-MODE MAINTENANCE-MODE2 ]
{%                     if bgp_export_policy is defined and bgp_export_policy != None %}
{%                         for export_item in bgp_export_policy %}
set groups {{cfg_group}} protocols bgp group {{bgp_group_name}} export {{export_item}}
{%                         endfor %}
{%                     endif %}
{%                 else %}
delete groups {{cfg_group}} protocols bgp group {{bgp_group_name}} export MAINTENANCE-MODE
delete groups {{cfg_group}} protocols bgp group {{bgp_group_name}} export MAINTENANCE-MODE2
{%                 endif %}
{%             else %}
{%                 if device_maintenance_mode == "activate" %}
delete groups {{cfg_group}} protocols bgp group {{bgp_group_name}} export
set groups {{cfg_group}} protocols bgp group {{bgp_group_name}} export MAINTENANCE-MODE-underlay
{%                     if bgp_export_policy is defined and bgp_export_policy != None %}
{%                         for export_item in bgp_export_policy %}
set groups {{cfg_group}} protocols bgp group {{bgp_group_name}} export {{export_item}}
{%                         endfor %}
{%                     endif %}
{%                 else %}
delete groups {{cfg_group}} protocols bgp group {{bgp_group_name}} export MAINTENANCE-MODE-underlay
{%                 endif %}
{%             endif %}
{%         endfor %}
{%     endfor %}
{% endif %}


{% if bgp_group_info.protocols is defined and bgp_group_info.protocols != None %}
{%     if bgp_group_info.protocols.bgp is defined and bgp_group_info.protocols.bgp.group is defined %}
{%         set bgp_group = bgp_group_info.protocols.bgp.group %}
{%         if bgp_group is mapping %}
{%             set bgp_group = [bgp_group] %}
{%         endif %}
{%         for item in bgp_group %}
{%             set bgp_group_name = item.name %}
{%             if item.export is defined and item.export != None %}
{%                 set bgp_export_policy = item.export %}
{%                 if bgp_export_policy is string %}
{%                     set bgp_export_policy = [item.export] %}
{%                 endif %}
{%             endif %}
{%             if item.type is not defined %}
{%                 do item.update({'type': 'external'}) %}
{%             endif %}
{%             if item.type == "internal" %}
{%                 if device_maintenance_mode == "activate" %}
delete protocols bgp group {{bgp_group_name}} export
set protocols bgp group {{bgp_group_name}} export [ MAINTENANCE-MODE MAINTENANCE-MODE2 ]
{%                     if bgp_export_policy is defined and bgp_export_policy != None %}
{%                         for export_item in bgp_export_policy %}
set protocols bgp group {{bgp_group_name}} export {{export_item}}
{%                         endfor %}
{%                     endif %}
{%                 else %}
delete protocols bgp group {{bgp_group_name}} export MAINTENANCE-MODE
delete protocols bgp group {{bgp_group_name}} export MAINTENANCE-MODE2
{%                 endif %}
{%             else %}
{%                 if device_maintenance_mode == "activate" %}
delete protocols bgp group {{bgp_group_name}} export
set protocols bgp group {{bgp_group_name}} export MAINTENANCE-MODE-underlay
{%                     if bgp_export_policy is defined and bgp_export_policy != None %}
{%                         for export_item in bgp_export_policy %}
set protocols bgp group {{bgp_group_name}} export {{export_item}}
{%                         endfor %}
{%                     endif %}
{%                 else %}
delete protocols bgp group {{bgp_group_name}} export MAINTENANCE-MODE-underlay
{%                 endif %}
{%             endif %}
{%         endfor %}
{%     endif %}
{% endif %}
