{% macro lag_configurations(interface_list, interface_group_name=None) %}
{%     for item in interface_list %}
{%         if item.get('esi') is defined and item.get('esi') != None and item.get('aggregated-ether-options') is defined and item.get('aggregated-ether-options') != None %}
{%             set aggregated_group = item.get('aggregated-ether-options') %}
{%             set lag_interface_name = item.get('name') %}
{%             if device_maintenance_mode == "activate" %}
{%                 if interface_group_name != None %}
set groups {{interface_group_name}} interfaces {{lag_interface_name}} disable
{%                 else %}
set interfaces {{lag_interface_name}} disable
{%                 endif %}
{%             else %}
{%                 if interface_group_name != None %}
delete groups {{interface_group_name}} interfaces {{lag_interface_name}} disable
{%                 else %}
delete interfaces {{lag_interface_name}} disable
{%                 endif %}
{%             endif %}
{%         endif %}
{%     endfor %}
{% endmacro %}

{% if physical_role == "leaf" %}
{%     if interface_groups_info is defined and interface_groups_info != None %}
{%         for group in interface_groups_info %}
{%             set interface_group_name = group.name %}
{%             set interface_group = group.interfaces.interface %}
{%             if interface_group is mapping %}
{%                 set interface_group = [interface_group] %}
{%             endif %}
{{ lag_configurations(interface_group, interface_group_name) }}
{%         endfor %}
{%     endif %}
{%     if interface_results_json is defined and interface_results_json != None %}
{%         set interface_results = interface_results_json.interfaces.interface %}
{%         if interface_results is mapping %}
{%             set interface_results = [interface_results] %}
{%         endif %}
{{ lag_configurations(interface_results) }}
{%     endif %}
{% endif %}
