---

- name: Save fabric UUID
  set_fact: fabric_uuid="{{fabric_uuid}}"

- name: Save device count
  set_fact: device_count="{{device_count}}"

- name: get fabric fq name
  vnc_db_mod:
    enable_job_ctx: False
    job_ctx: "{{ job_ctx }}"
    object_type: "fabric"
    object_op: "id_to_fq_name"
    object_dict: |
      {
        "uuid": "{{ fabric_uuid }}"
      }
  register: fq_name
  when: fabric_uuid is defined

- name: Save fabric name
  set_fact:
     fabric_fq_name: "{{ fq_name.fq_name }}"
  when: fabric_uuid is defined

- name: Get ZTP config
  set_fact:
     ztp_config: "{{ job_ctx | ztpcfg(fabric_uuid) }}"

- name: Get TFTP host from config
  block:
    - add_host:
        name: "{{ TFTP_SERVER }}"
        groups: "tftp"
      register: cmd_res
  rescue:
    - name: Perform necessary error handling
      include_tasks: error_handler.yml
      vars:
        op_err_message: "{{cmd_res.msg}}"
        jl_err_message: "Failed to add TFTP server to inventory"

- name: Get DHCP host from config
  block:
    - add_host:
        name: "{{ DHCP_SERVER }}"
        groups: "dhcp"
      register: cmd_res
  rescue:
    - name: Perform necessary error handling
      include_tasks: error_handler.yml
      vars:
        op_err_message: "{{cmd_res.msg}}"
        jl_err_message: "Failed to add DHCP server to inventory"

- name: Create subdirectories for calculating config
  include_tasks: create_subdirs.yml

- name: Generate config file global section on local host
  block:
    - name: Generate config file global section on local host
      template:
        src: dhcpd-global.conf.j2
        dest: "{{ ztp_dhcp_gconf_path }}"
      register: cmd_res
  rescue:
    - name: Perform necessary error handling
      include_tasks: error_handler.yml
      vars:
        op_err_message: "{{cmd_res.msg}}"
        jl_err_message: "Failed to generate global config"

- name: Generate config file subsection on local host
  block:
    - name: Generate config file subsection on local host
      template:
        src: dhcpd.conf.j2
        dest: "{{ ztp_dhcp_conf_path }}"
      register: cmd_res
  rescue:
    - name: Perform necessary error handling
      include_tasks: error_handler.yml
      vars:
        op_err_message: "{{cmd_res.msg}}"
        jl_err_message: "Failed to generate config"

- name: Generate script file on local host
  block:
    - name: Generate script file on local host
      template:
        src: juniper.sh.j2
        dest: "{{ ztp_tftp_dir }}/{{ fabric_fq_name[-1] }}_juniper.sh"
      register: cmd_res
  rescue:
    - name: Perform necessary error handling
      include_tasks: error_handler.yml
      vars:
        op_err_message: "{{cmd_res.msg}}"
        jl_err_message: "Failed to generate script"

