<?xml version="1.0"?>
<Wix
    xmlns="http://schemas.microsoft.com/wix/2006/wi"
    xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <Product Id="0BA1E738-4DB7-4871-898C-545F16426BAF" UpgradeCode="488D475D-E73D-46AF-BEE6-173BE24FAF33" Name="Agent" Version="0.0.1" Manufacturer="Juniper Networks" Language="1033">
        <Package InstallerVersion="200" Compressed="yes" Comments="Windows Installer Package" Platform="x64"/>
        <Media Id="1" Cabinet="product.cab" EmbedCab="yes"/>

            <Directory Id="ProgramFiles64Folder">
                <Directory Id="ManufacturerFolder" Name="Juniper Networks">
                    <Directory Id="INSTALLDIR" Name="Agent">
                        <Component Id="AgentMainExe" Guid="0AA4E35B-89F0-4E60-8D1C-F79BFBE49F78" Win64="yes">
                            <File Id="AgentMainExe" Source="build/$(var.optimization)/vnsw/agent/contrail/contrail-vrouter-agent.exe"/>
                        </Component>
                        <Component Id="VRouterHypervScript" Guid="2E5ED884-4461-4852-B841-CF6FE4E1E6B7" Win64="yes">
                            <File Id="VRouterHypervScript" Source="controller/src/vnsw/opencontrail-vrouter-netns/opencontrail_vrouter_netns/vrouter_hyperv.py" />
                        </Component>
                        <Component Id="VRouterCommonScript" Guid="13E44DF5-A03F-4DD3-A16B-F85C55538401" Win64="yes">
                            <File Id="VRouterCommonScript" Source="controller/src/vnsw/opencontrail-vrouter-netns/opencontrail_vrouter_netns/common.py" />
                        </Component>
                        <Component Id="VRouterHypervInjectIPScript" Guid="B52AFC26-A7E3-4FB7-9740-747765BEA5BC" Win64="yes">
                            <File Id="VRouterHypervInjectIPScript" Source="controller/src/vnsw/opencontrail-vrouter-netns/opencontrail_vrouter_netns/vrouter_hyperv_inject_ip.ps1" />
                        </Component>
                        <Component Id="TbbDll" Guid="3DD82F1D-E1C5-4CF6-8C53-AB0E047D1B0B" Win64="yes">
                            <File Id="TbbDll" Source="build/bin/$(var.TbbDll)"/>
                        </Component>
                        <Component Id="Log4CPlusDll" Guid="27D4F796-4BF8-423C-BF68-25334A963810" Win64="yes">
                            <File Id="Log4CPlusDll" Source="build/bin/$(var.Log4CPlusDll)"/>
                        </Component>
                        <Component Id="CurlDll" Guid="BE814CFF-7812-4D99-8E69-94A19185563F" Win64="yes">
                            <File Id="CurlDll" Source="build/bin/libcurl.dll"/>
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
        </Directory>

        <Feature Id="DefaultFeature" Level="1">
            <ComponentRef Id="AgentMainExe"/>
            <ComponentRef Id="VRouterHypervScript"/>
            <ComponentRef Id="VRouterCommonScript"/>
            <ComponentRef Id="VRouterHypervInjectIPScript"/>
            <ComponentRef Id="TbbDll"/>
            <ComponentRef Id="Log4CPlusDll"/>
            <ComponentRef Id="CurlDll"/>
        </Feature>
    </Product>
</Wix>
