[Unit]
Description="Contrail Analytics API"
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/contrail-analytics-api
PIDFile=/var/run/contrail/contrail-analytics-api.pid
TimeoutStopSec=0
Restart=always
User=contrail
Group=contrail
ExecStop=/bin/kill -s TERM $MAINPID

PrivateTmp=yes
PrivateDevices=yes
ProtectHome=yes
ReadOnlyDirectories=/
ReadWriteDirectories=-/var/log/contrail
ReadWriteDirectories=-/etc/contrail

[Install]
WantedBy=multi-user.target

