set groups {{cfg_group}} forwarding-options multicast-replication evpn irb local-only
{% for ri in device_abstract_config.get('routing_instances', []) %}
{%     set name = ri.get('name') %}
{%     if (ri.get('virtual_network_is_internal') == true) and ('vrf' in ri.get('routing_instance_type', '')) %}
{%         for intf in ri.get('routing_interfaces', []) %}
{%             set irb_name = intf.get('name') %}
set groups {{cfg_group}} routing-instances {{name}} protocols pim interface {{irb_name}} family inet
set groups {{cfg_group}} routing-instances {{name}} protocols pim interface {{irb_name}} mode sparse-dense
{%         endfor %}
{%     endif %}
{% endfor %}
