{% for pi_item in device_abstract_config.get('physical_interfaces',[]) %}
{%     if pi_item.get('comment') == 'Underlay Infra BMS Access' %}
{%         set pi_interface_name = pi_item.name %}
{%         for li_item in pi_item.get('logical_interfaces', []) %}
{%             if li_item.get('family') is defined and li_item.get('family') != None %}
{%                 if li_item.get('family') == 'inet' %}
{%                     for ip in li_item.get('ip_list', []) %}
set groups {{cfg_group}} interfaces {{pi_interface_name}} unit {{li_item.unit}} family inet address {{ip}}
{%                     endfor %}
{%                 endif %}
{%                 if li_item.get('family') == 'ethernet-switching' %}
set groups {{cfg_group}} interfaces {{pi_interface_name}} unit {{li_item.unit}} family ethernet-switching vlan-id {{li_item.unit}}
{%                 endif %}
{%             else %}
set groups {{cfg_group}} interfaces {{pi_interface_name}} unit {{li_item.unit}} vlan-id {{li_item.unit}}
{%             endif %}
{%         endfor %}
{%     endif %}
{% endfor %}
{% for vlan_item in device_abstract_config.get('vlans',[]) %}
{%     if vlan_item.get('comment') == 'Underlay Infra BMS Access' %}
{%         set l3_intf = vlan_item.get('l3-interfaces') %}
set groups {{cfg_group}} vlans {{vlan_item.name}} vlan-id {{vlan_item.vlan_id}}
set groups {{cfg_group}} vlans {{vlan_item.name}} l3-interface {{l3_intf}}
{%     endif %}
{% endfor %}
{% for forwarding_options_item in device_abstract_config.get('forwarding_options',[]) %}
{%     if forwarding_options_item.get('comment') == "Underlay Infra BMS Access" %}
{%         set dhcp_relay_grp = forwarding_options_item.get('dhcp-relay-group') %}
set groups {{cfg_group}} forwarding-options dhcp-relay overrides bootp-support
set groups {{cfg_group}} forwarding-options dhcp-relay group {{dhcp_relay_grp}} active-server-group SVR-MGR
{%         for dhcp_ips in forwarding_options_item.get('dhcp_server_ips',[]) %}
set groups {{cfg_group}} forwarding-options dhcp-relay server-group SVR-MGR {{dhcp_ips}}
{%         endfor %}
{%         for intrf_item in forwarding_options_item.get('interfaces',[]) %}
set groups {{cfg_group}} forwarding-options dhcp-relay group {{dhcp_relay_grp}} interface {{intrf_item}}
{%         endfor %}
{%     endif %}
{% endfor %}
