{%- set cfg_group = "__contrail_" + feature + "__" %}
delete apply-groups {{cfg_group}}
delete groups {{cfg_group}}

{% if device_abstract_config is defined and device_abstract_config != None %}
set groups {{cfg_group}}
{%     for phy_int in device_abstract_config.get('physical_interfaces', []) %}
{%         if phy_int.get('interface_type') == 'irb' %}
set groups __contrail_{{feature}}__ interfaces irb gratuitous-arp-reply
{%             for li in phy_int.get('logical_interfaces', []) %}
{%                 set unit = li.get('unit') %}
{%                 set gw = li.get('gateway') %}
{%                 set family = 'inet' %}
{%                 for ipad in li.get('ip_list', []) %}
set groups __contrail_{{feature}}__ interfaces irb unit {{unit}} family {{family}} address {{ipad.get('address')}} virtual-gateway-address {{gw}}
{%                 endfor %}
set groups __contrail_{{feature}}__ interfaces irb unit {{unit}} proxy-macip-advertisement
{%             endfor %}
{%         else %}
{%             for li in phy_int.get('logical_interfaces', []) %}
{%                 if 'EVPN' in li.get('comment', '') %}
{%                     set name = phy_int.get('name') %}
{%                     set unit = li.get('unit') %}
{%                     set vlan_id = li.get('vlan_tag') %}
set groups __contrail_{{feature}}__ interfaces {{name}} flexible-vlan-tagging
set groups __contrail_{{feature}}__ interfaces {{name}} encapsulation extended-vlan-bridge
set groups __contrail_{{feature}}__ interfaces {{name}} unit {{unit}} vlan-id {{vlan_id}}
set groups __contrail_{{feature}}__ interfaces {{name}} native-vlan-id {{vlan_id}}
{%                 endif %}
{%             endfor %}
{%         endif %}
{%     endfor %}
set apply-groups {{cfg_group}}
{% endif %}

