#
# Copyright (c) 2013 Juniper Networks, Inc. All rights reserved.
#

[DEFAULT]
# minimim time to allow client to cache service information (seconds)
ttl_min=600

# maximum time to allow client to cache service information (seconds)
ttl_max=1200

# hearbeat interval. Client will send ping to discovery server after
# every interval.
hc_interval=60

# maximum hearbeats to miss before server will declare publisher out of
# service. 
hc_max_miss=3

