ipdb
python-subunit
testrepository
flexmock
coverage
webtest
pyaml
lxml
kazoo
python-novaclient
cfgm_common
vnc_api
discoveryclient
sandesh
sandesh-common
keystonemiddleware
pyOpenSSL
kombu==4.0.2
vine==1.1.3
