protocols {
    bgp {
        multihop;
        group __contrail__underlay__ {
            type external;
            multihop;
            accept-remote-nexthop;
            advertise-peer-as;
            family inet {
                unicast {
                    loops 5;
                }
            }
            local-as {{ as_numbers[0] }};
            bfd-liveness-detection {
                minimum-interval 1000;
                multiplier 3;
                session-mode automatic;
            }
            multipath;
        }
    }
}
