- name: Execute a basic Junos software upgrade.
  block:
    - juniper_junos_software:
        provider:
          host: "{{pr_host}}"
          user: "{{pr_user}}"
          passwd: "{{pr_password}}"
          port: 22
        remote_package: "{{downloadurl}}"
      register: junos_response
    #  ignore_errors: True
  rescue:
    - include_tasks: error_handler.yml
      vars:
        op_err_message: "Unable to upgrade image on the device. Junos upgrade task failed with exception. {{junos_response.msg}}"
        results: |
          {
            "prouter_uuid": "{{prouter_uuid}}",
            "image_uuid": "{{image_uuid}}",
            "msg": "Image upgrade task failed"
          }
        jl_err_message: "Unable to upgrade image {{filename}} on the device {{pr_fqname}}. Junos upgrade task failed with exception. {{junos_response.msg}}"

- name: Print the complete response.
  debug:
    var: junos_response
