---
# tasks file for image_upgrade_role

# Initialize job data
#- set_fact:
#    job_ctx: "{{job_ctx|combine({'current_task_index':1, 'total_task_count':4, 'task_weightage_array':[5, 40, 45, 10] })}}"

- name: Read Image info
  include_tasks: read_image_info.yml

- name: Set the vmhost flag
  set_fact:
    vmhost_flag: false

- name: parse image uri to get container name
  set_fact:
    container_name: "{{image_uri.split('/')[-2]}}"

# compatibilty check using device family
- name: Compatibily check using device family
  include_tasks: error_handler.yml
  when: "pr_family != image_family"
  vars:
    op_err_message: "Image family is {{image_family}} and Device family is {{pr_family}}"
    results: |
      {
        "prouter_uuid": "{{pr_uuid}}",
        "image_uuid": "{{image_uuid}}",
        "msg": "Image compatibility task failed"
      }
    jl_err_message: >
      "Image {{filename}} is not compatible for upgrade on the physical router device.
       Image family is {{image_family}} and Device family is {{pr_family}}"

- name: Read swift conf info
  include_tasks: read_swift_conf_info.yml

- name: Get swift download url
  include_tasks: get_swiftfile_url.yml

- name: Appending job log for retreiving image download link and starting image upgrade with percentage
  include_tasks: percentage_update.yml
  vars:
    jl_message: >
      Now starting image upgrade with image name {{filename}} on the device
      {{prouter_name}}. It may take 10 to 15 mins.


- name: Reset vmhost flag
  set_fact:
    vmhost_flag: true
  when: pr_product == "qfx10002-60c"

# continue workflow even if upgrade fails
- name: Vendor specific image upgrade and device bring up for ztp
  include_tasks: "ztp_{{pr_vendor}}_upgrade.yml"
  when: continue_workflow is defined and continue_workflow

- name: Vendor specific image upgrade and device bring up
  include_tasks: "{{pr_vendor}}_upgrade.yml"
  when: continue_workflow is not defined

- block:
    - name: Vendor specific OS version check
      include_tasks: "{{pr_vendor}}_check_version_rpc.yml"

    - name: Update physical device with os version
      vnc_db_mod:
        job_ctx: "{{ job_ctx }}"
        object_type: "physical_router"
        object_op: "update"
        object_dict: |
          {
           "uuid": "{{pr_uuid}}",
           "physical_router_os_version": "{{device_version}}"
          }
      register: prouter_obj

    - name: Set DFG flag if necessary
      set_fact:
       output: "{{job_ctx| update_physical_router_annotations(pr_uuid)}}"

    - name: PR objectlog update for OS version
      prouter_objectlog:
        prouter_fqname: "{{pr_fqname}}"
        onboarding_state: "{{ DEVICE_STATE.IMAGE_UPGRADED }}"
        job_ctx: "{{job_ctx}}"
        os_version: "{{device_version}}"

    # Initialize job data
    - name: Job logs for version validation status with percentage
      include_tasks: percentage_update.yml
      vars:
        jl_message: Image upgrade version validated. The device OS version is now {{device_version}}.

    - name: Push empty config down in order to not detect version change
      juniper_junos_config:
        lines: "set groups __contrail_basic__"
        comment: "Contrail execution ID: {{ job_ctx.job_execution_id }}"
        ignore_warning: "True"
        provider:
          host: "{{ pr_host }}"
          username: "{{ pr_user }}"
          password: "{{ pr_password }}"
          port: 22
          timeout: "{{ JUNOS_COMMIT_TIMEOUT | int }}"
      register: junos_response
  when: task_fail is not defined
