psutil>=0.4.1
python-novaclient==16.0.0
kombu==4.0.2
coverage
testtools==2.4.0
mock<=4.0.2
contrail-api-server
flexmock==0.10.4
python-subunit
WebTest==2.0.34
pyOpenSSL
schema-transformer==0.1dev
svc-monitor==0.1dev
