gevent<1.5.0
netaddr>=0.7.5
bitarray>=0.8.0
psutil>=0.4.1
python-novaclient
kombu==4.0.2
netifaces
bottle
stevedore
coverage
junitxml
jsonpickle
testrepository
mock
contrail-api-server
bitstring
kazoo
flexmock
lxml
ipdb
python-subunit
webtest
pyaml
keystonemiddleware!=4.19.0
pyOpenSSL
vine==1.1.3
../../config/schema-transformer
../../../noarch/config/svc-monitor
pycrypto
