coverage
junitxml
jsonpickle
testrepository
mock
bitarray
kombu
gevent
eventlet
cfgm_common
vnc_api
vnc_cfg_api_server
urllib3
bitstring
pycassa>=1.7.2
sandesh
sandesh_common
kazoo
flexmock
lxml
ipdb
python-subunit
webtest
pyaml
keystonemiddleware
pyOpenSSL
python-novaclient
schema_transformer
../../../noarch/config/svc-monitor
