{%- set mac_address = input_params.get('mac_address', '') | trim              %}
{%- set ip_address = input_params.get('ip_address', '') | trim                %}
{%- set interface_names = ['xe','ge','et', 'irb']                             %}
{%- set interface_details = []                                                %}

{%- macro create_interface_list(mac_entry, interface_names)                   %}
{%-     set active_source = mac_entry.get('active-source')                    %}
{%-     for item in interface_names                                           %}
{%-         if item in active_source                                          %}
{%-              set active_source_details = active_source                    %}
{%-              set x = interface_details.append(
                             {
                             "name": active_source,
                             "device_name": device_name,
                             "loopback_ip": device_loopback_ip
                             }
                             )          %}
{%-         endif                                                             %}
{%-     endfor                                                                %}
{%- endmacro                                                                  %}


{%- if evpn_database_command_resp is mapping                                  %}
{%-     set evpn_db_instances = [evpn_database_command_resp]                  %}
{%- else                                                                      %}
{%-     set evpn_db_instances = evpn_database_command_resp                    %}
{%- endif                                                                     %}
{%- for evpn_db_instance in evpn_db_instances                                 %}
{%-     set mac_entries = evpn_db_instance.get('mac-entry')                   %}
{%-     if mac_entries is mapping                                             %}
{%-         set mac_entries = [mac_entries]                                   %}
{%-     endif                                                                 %}
{%-     for mac_entry in mac_entries                                          %}
{%-         if mac_address and mac_entry.get('mac-address') == mac_address    %}
{{ create_interface_list(mac_entry, interface_names)                          }}
{%-         elif ip_address  and mac_entry.get('ip-address') == ip_address    %}
{{ create_interface_list(mac_entry, interface_names)                          }}
{%-         endif                                                             %}
{%-      endfor                                                               %}
{%- endfor                                                                    %}
{"interface_names": {{interface_details | to_json}} }
