{%- set mac_address = input_params.get('mac_address', '') | trim                   %}
{%- set ip_address = input_params.get('ip_address', '') | trim                     %}
{%- if evpn_command_resp is mapping                                                %}
{%-     set evpn_db_instances = [evpn_command_resp]                                %}
{%- else                                                                           %}
{%-     set evpn_db_instances = evpn_command_resp                                  %}
{%- endif                                                                          %}
{%- set active_source = {'source_lo0_ips': [], 'mac_addr': ""}                     %}
{%- for evpn_db_instance in evpn_db_instances                                      %}
{%-     set mac_entries = evpn_db_instance.get('mac-entry')                        %}
{%-     if mac_entries is mapping                                                  %}
{%-         set mac_entries = [mac_entries]                                        %}
{%-     endif                                                                      %}
{%-     for mac_entry in mac_entries                                               %}
{%-         if mac_address and mac_entry.get('mac-address') == mac_address         %}
{%-             set mac_source = mac_entry.get('mac-source', [])                   %}
{%-             if mac_source and mac_source is mapping                            %}
{%-                 set mac_source = [mac_source]                                  %}
{%-             endif                                                              %}
{%-             for mac_src in mac_source                                          %}
{%-                 set src_remote_org = mac_src.get('source-remote-origin')       %}
{%-                 if src_remote_org and src_remote_org is string                 %}
{%-                     set z = active_source.get('source_lo0_ips').append(src_remote_org) %}
{%-                 elif src_remote_org and src_remote_org is iterable             %}
{%-                     for src_rem_org in src_remote_org                          %}
{%-                         set z = active_source.get('source_lo0_ips').append(src_rem_org) %}
{%-                     endfor                                                     %}
{%-                 else                                                           %}
{%-                     set z = active_source.get('source_lo0_ips').append(mac_src.get('source-mobility-min-origin-address')) %}
{%-                 endif                                                          %}
{%-             endfor                                                             %}
{%-             set x = active_source.update( {'mac_addr': mac_entry.get('mac-address') } ) %}
{%-         elif ip_address                                                        %}
{%-             set mac_source = mac_entry.get('mac-source', [])                   %}
{%-             if mac_source and mac_source is mapping                            %}
{%-                 set mac_source = [mac_source]                                  %}
{%-             endif                                                              %}
{%-             for mac_src in mac_source                                          %}
{%-                 set ip_add_list = []                                           %}
{%-                 set mac_ip_info = mac_src.get('mac-ip-information', [])        %}
{%-                 if mac_ip_info and mac_ip_info is mapping                      %}
{%-                     set mac_ip_info = [mac_ip_info]                            %}
{%-                 endif                                                          %}
{%-                 for mac_ip_inf in mac_ip_info                                  %}
{%-                     set z = ip_add_list.append(mac_ip_inf.get('address'))      %}
{%-                 endfor                                                         %}
{%-                 if ip_address in ip_add_list                                   %}
{%-                     set x = active_source.update( {'mac_addr': mac_entry.get('mac-address') } ) %}
{%-                     set src_remote_org = mac_src.get('source-remote-origin')   %}
{%-                     if src_remote_org and src_remote_org is string             %}
{%-                         set z = active_source.get('source_lo0_ips').append(src_remote_org) %}
{%-                     elif src_remote_org and src_remote_org is iterable         %}
{%-                         for src_rem_org in src_remote_org                      %}
{%-                             set z = active_source.get('source_lo0_ips').append(src_rem_org) %}
{%-                         endfor                                                 %}
{%-                     else                                                       %}
{%-                         set z = active_source.get('source_lo0_ips').append(mac_src.get('source-mobility-min-origin-address')) %}
{%-                     endif                                                      %}
{%-                 endif                                                          %}
{%-             endfor                                                             %}
{%-         endif                                                                  %}
{%-     endfor                                                                     %}
{%- endfor                                                                         %}
{"active_source": {{active_source | to_json}} }