python-subunit
testrepository
flexmock
coverage
pyaml
python-keystoneclient
keystonemiddleware
webtest
kazoo
jsonpickle
cfgm_common
vnc_api
sandesh
sandesh-common
vnc_cfg_api_server
../../../noarch/config/svc-monitor
junitxml
pyOpenSSL
