---
# tasks file for device-facts-uve

- name: READ JUNOS FACTS
  block:
    - junos_facts:
        provider:
          host: "{{junos_host}}"
          username: "{{junos_username}}"
          password: "{{junos_password}}"
          port: 22
          timeout: "{{JUNOS_FACTS_TIMEOUT|int}}"
      register: dev_info
  rescue:
    - name: Perform the necessary error handling
      include_tasks: error_handler.yml
      when: "dev_info.failed == true"
      vars:
        op_err_message: "{{dev_info.msg}}"
        jl_err_message: "Execute 'junos_facts' command on Juniper Device: {{prouter_name}} failed; see result for more details"

- set_fact:
    device_info: "{{dev_info.ansible_facts}}"

- set_fact:
    serial_number: "{{device_info.ansible_net_serialnum}}"
    os_version: "{{device_info.ansible_net_version}}"
    hostname: "{{device_info.ansible_net_hostname}}"

- name: Update Job log with prouter_uve update status
  job_objectlog:
    message: "Physical Router UVE : {{prouter_name}} updated successfully"

