---
# tasks file for device-facts-uve
- set_fact:
    job_ctx: "{{job_ctx|combine(percent_init_dict)}}"

- name: READ JUNOS FACTS
  block:
    - juniper_junos_facts:
        provider:
          host: "{{junos_host}}"
          username: "{{junos_username}}"
          password: "{{junos_password}}"
          port: 22
          timeout: "{{JUNOS_FACTS_TIMEOUT|int}}"
      register: dev_info
  rescue:
    - name: Perform the necessary error handling
      include_tasks: error_handler.yml
      when: "dev_info.failed == true"
      vars:
        op_err_message: "{{dev_info.msg}}"
        jl_err_message: "Execute 'junos_facts' command on Juniper Device: {{prouter_name}} failed; see result for more details"

- set_fact:
    device_info: "{{dev_info.facts}}"

- set_fact:
    hardware_model: "{{device_info.model}}"
    serial_number: "{{device_info.serialnumber}}"
    os_version: "{{device_info.version}}"
    hostname: "{{device_info.hostname}}"

- name: Update Job log with 'junos_facts' command successs
  job_objectlog:
    job_ctx: "{{ job_ctx }}"
    status: "{{ JOBLOG_STATUS.IN_PROGRESS }}"
    message: "Imported system info for {{prouter_name}}:\n   - SerialNo: {{serial_number}}\n   - os_version: {{os_version}}\n   - H/W Model: {{hardware_model}}\n   - hostname: {{hostname}}"
    device_name: "{{prouter_name}}"
