python-subunit
testrepository
flexmock
coverage
pyaml
python-keystoneclient
keystonemiddleware!=4.19.0
webtest
kazoo
jsonpickle
cfgm_common
sandesh
sandesh-common
contrail-api-client==5.0.3
contrail-api-server
../../../noarch/config/svc-monitor
junitxml
