python-subunit
testrepository
flexmock
coverage
pyaml
python-keystoneclient
keystonemiddleware
webtest
kazoo
jsonpickle
cfgm_common
vnc_api
sandesh
sandesh-common
contrail-api-server
../../../noarch/config/svc-monitor
junitxml
