[run]
branch = True
omit = 
        *gen/cfixture.py
        *gen/connection_drv_gen.py
        *gen/vnc_api_schema.py
        *gen/vnc_api_test_gen.py
        *gen/vnc_api_extension_gen.py
        *gen/resource_client.py
        *gen/resource_test.py
        *gen/resource_client.py
