contrail-config-common
contrail-api-client
sandesh==0.1dev
sandesh-common
gevent<1.5.0
netaddr==0.7.19
python-keystoneclient==3.22.0
netifaces==0.10.9
bottle==0.12.18
stevedore==1.32.0
kazoo>=2.5.0,<=2.7.0
pycrypto==2.6.1
future==0.18.2
six
