[Unit]
Description="Contrail API: %I"
After=network.target

[Service]
RestartSec=3s
Type=simple
ExecStart=/usr/bin/contrail-api --conf_file /etc/contrail/contrail-api.conf --conf_file /etc/contrail/contrail-keystone-auth.conf --conf_file /etc/contrail/contrail-database.conf --log_file /var/log/contrail/contrail-api-%I.log --worker_id %I --listen_port 910%I --admin_port 819%I --http_server_port 828%I
PIDFile=/var/run/contrail/contrail-api-%I.pid
TimeoutStopSec=0
Restart=always
User=contrail
Group=contrail
ExecStop=/bin/kill -s TERM $MAINPID

PrivateTmp=yes
PrivateDevices=yes
ProtectHome=yes
ReadOnlyDirectories=/
ReadWriteDirectories=-/var/lib/contrail
ReadWriteDirectories=-/var/crashes
ReadWriteDirectories=-/var/log/contrail
ReadWriteDirectories=-/etc/contrail

[Install]
DefaultInstance=0
WantedBy=multi-user.target
