[Unit]
Description="IFMap Service"
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/ifmap-server
PIDFile=/var/run/contrail/ifmap.pid
TimeoutStopSec=0
Restart=always
User=contrail
Group=contrail
ExecStop=/bin/kill -s TERM $MAINPID

PrivateTmp=yes
PrivateDevices=yes
ProtectHome=yes
ReadOnlyDirectories=/
ReadWriteDirectories=-/var/log/contrail
ReadWriteDirectories=-/etc/ifmap-server

[Install]
WantedBy=multi-user.target
