# Generic playbook to push config to the device (activate/deactivate)

# Get the device details for commit fabric config
- set_fact:
    device_name: "{{pr_name}}"
    device_vendor: "{{pr_vendor}}"
    device_mgmt_ip: "{{pr_host}}"
    device_username: "{{pr_user}}"
    device_password: "{{pr_password}}"

- name: Vendor specific logic to get bgp group names
  include_tasks: "{{device_vendor}}.yml"

- set_fact:
    conf_dir: "./config/{{pr_host}}"

- name: Remove final_config/final_hitless_config folder if it already exists
  file:
    path: "{{ conf_dir }}/final_config/final_hitless_config"
    state: absent

- name: Create final_config/final_hitless_config
  file:
    path: "{{ conf_dir }}/final_config/final_hitless_config"
    state: directory

- name: Get vendor specific jinja file name
  set_fact:
    jinja_file: "{{device_vendor}}_maintenance_mode.j2"

- name: Generate maintenance mode config to be pushed on device {{prouter_name}}
  block:
    - name: Generate script file on local host
      template:
        src: "{{jinja_file}}"
        dest: "{{ conf_dir }}/final_config/final_hitless_config/maintenance_mode.conf"
      register: cmd_res
  rescue:
    - name: Perform necessary error handling
      include_tasks: error_handler.yml
      vars:
        op_err_message: "{{cmd_res.msg}}"
        jl_err_message: "Failed to generate script to {{device_maintenance_mode}} maintenance mode on device {{pr_name}}"

- name: Update prouter logs with maintenance mode status
  prouter_objectlog:
    prouter_fqname: "{{pr_fqname}}"
    onboarding_state: "{% if device_maintenance_mode == 'activate'-%}{{DEVICE_STATE.ACTIVATING_MAINTENANCE_MODE}}{%else -%}{{DEVICE_STATE.DEACTIVATING_MAINTENANCE_MODE}}{%- endif %}"
    job_ctx: "{{job_ctx}}"

- name: Set the src file for config push
  set_fact:
    source_file: "{{ conf_dir }}/final_config/final_hitless_config/maintenance_mode.conf"

- include_role:
    name: "commit_fabric_config"

- block:
    - name: Get vendor specific jinja file name for leaf
      set_fact:
        jinja_file: "{{device_vendor}}_maintenance_mode_leaf.j2"

    - name: Generate maintenance mode config to be pushed on leaf device {{prouter_name}}
      block:
        - name: Generate script file on local host
          template:
            src: "{{jinja_file}}"
            dest: "{{ conf_dir }}/final_config/final_hitless_config/maintenance_mode_leaf.conf"
          register: cmd_res
      rescue:
        - name: Perform necessary error handling
          include_tasks: error_handler.yml
          vars:
            op_err_message: "{{cmd_res.msg}}"
            jl_err_message: "Failed to generate leaf script to {{device_maintenance_mode}} maintenance mode on device {{pr_name}}"

    - name: Set the src file for config push
      set_fact:
        source_file: "{{ conf_dir }}/final_config/final_hitless_config/maintenance_mode_leaf.conf"

    - name: Gonna take a long pause, so notify the user
      job_objectlog:
        job_ctx: "{{job_ctx}}"
        message: "Pause 60 seconds to let commit settle on {{prouter_name}}"
        device_name: "{{prouter_name}}"
        status: "{{ JOBLOG_STATUS.IN_PROGRESS }}"

    - name: Pause to let policy settle
      pause:
        seconds: 60

    - include_role:
        name: "commit_fabric_config"
  when: physical_role == 'leaf'

- name: Update prouter logs with maintenance mode status
  prouter_objectlog:
    prouter_fqname: "{{pr_fqname}}"
    onboarding_state: "{{DEVICE_STATE.MAINTENANCE_MODE_ACTIVATED}}"
    job_ctx: "{{job_ctx}}"
  when: device_maintenance_mode == "activate"

- name: Update prouter logs with maintenance mode status
  prouter_objectlog:
    prouter_fqname: "{{pr_fqname}}"
    onboarding_state: "{{DEVICE_STATE.MAINTENANCE_MODE_DEACTIVATED}}"
    job_ctx: "{{job_ctx}}"
  when: device_maintenance_mode == "deactivate"

- name: Update job log with percentage
  include_tasks: percentage_update.yml
  vars:
    jl_message: "Configuration pushed down to {{device_maintenance_mode}} maintenance mode on the device {{prouter_name}}."
