{%- set cfg_group = "__contrail_" + feature + "__" %}
delete apply-groups {{cfg_group}}
delete groups {{cfg_group}}

{% if additional_feature_params is defined and additional_feature_params != None %}
{%-    set feature_params = additional_feature_params.get(feature) %}
{%     if feature_params != None %}
set groups {{cfg_group}}
# snmp config
{%         for community in feature_params.get('snmp', {}).get('communities', []) %}
set groups {{cfg_group}} snmp community {{community.name}} authorization {{'read-only' if community.readonly else 'read-write'}}
{%         endfor %}
# static routes
{%         for route in feature_params.get('static_routes', []) %}
{%             for cidr in route.get('subnets', []) %}
set groups {{cfg_group}} routing-options static route {{cidr}} next-hop {{route.nexthop}}
{%             endfor %}
{%         endfor %}
set apply-groups {{cfg_group}}
{%     endif %}
{% endif %}