---
# tasks file for discover_device_role

    - name: get device info
      device_info:
        fabric_uuid: "{{ fabric_uuid }}"
        job_ctx: "{{ job_ctx }}"
        credentials: "{{ credentials }}"
        subnets: "{{ host_prefix }}"
        version: "v2c"
        community: "public"
        device_family_info: "{{ device_family_info }}"
        vendor_mapping: "{{ vendor_mapping }}"
        pool_size: "{{ POOL_SIZE }}"
        autoenable_api: "{{ autoenable_api }}"
        enable_api_commands: "{{ enable_api_commands }}"
