[Unit]
Description=Contrail vrouter agent service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/contrail-vrouter-agent
PIDFile=/var/run/contrail/contrail-vrouter-agent.pid
TimeoutStopSec=0
Restart=always
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=yes
ProtectHome=yes
ReadOnlyDirectories=/
ReadWriteDirectories=-/var/log/contrail
ReadWriteDirectories=-/var/lib/contrail
ReadWriteDirectories=-/dev

[Install]
WantedBy=multi-user.target
