[Unit]
Description=Contrail vrouter agent service
BindsTo=
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/contrail-vrouter-agent
PIDFile=/var/run/contrail/contrail-vrouter-agent.pid
TimeoutStopSec=0
Restart=always
ExecStop=/bin/kill -s TERM $MAINPID
LimitCORE=infinity
ExecStartPre=/bin/bash -xc 'for i in `ip netns 2>/dev/null | grep ^vrouter-`; do ip netns delete $i; done'

[Install]
WantedBy=multi-user.target
