[Unit]
Description=Contrail vrouter agent service
BindsTo=
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/contrail-vrouter-agent
PIDFile=/var/run/contrail/contrail-vrouter-agent.pid
TimeoutStopSec=0
Restart=always
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=yes
ProtectHome=yes
ReadOnlyDirectories=/
ReadWriteDirectories=-/dev
ReadWriteDirectories=-/run
ReadWriteDirectories=-/var/crashes
ReadWriteDirectories=-/var/lib/contrail
ReadWriteDirectories=-/var/log/contrail
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
