system {
    time-zone {{ input.ntp.time_zone }};
    services {
        netconf {
            ssh;
        }
        ssh;
    }
    syslog {
        user * {
            any emergency;
        }
        file messages {
            any notice;
            authorization info;
        }
    }
    ntp { # NTP servers #
        {% if input.ntp.ntp_servers %}
        {%- for server in input.ntp.ntp_servers %}
        server {{ server }};
        {% endfor -%}
        {% endif %}
        # Boot Servers #
        {% if input.ntp.ntp_boot_servers %}
        {%- for boot_server in input.ntp.ntp_boot_servers %}
        boot-server {{ boot_server }};
        {% endfor -%}
        {% endif %}
    }
}
snmp {
    location "{{ input.snmp.snmp_location }}";
    contact "{{ input.snmp.snmp_contact }}";
{% if input.snmp.snmp_communities is defined %}
{% for comm in input.snmp.snmp_communities %}
    community {{ comm.community }} {
        authorization read-only;
    }
{% endfor %}
{% endif %}
}

routing-options {
  static {
    rib-group tftp-group;
  }
  rib-groups  {
    tftp-group {
        import-rib inet.0;
    }
  }
  router-id {{ junos_host }};
  autonomous-system {{ as_numbers }};
  {% endif %}
}

{% if input.enable_lldp == 'true' %}
protocols {
    lldp {
        interface all;
    }
}
{% endif %}
