system {
{% if input.ntp is defined and input.ntp.time_zone is defined %}
    time-zone {{ input.ntp.time_zone }};
{% endif %}
    services {
        netconf {
            ssh;
        }
        ssh;
    }
    syslog {
        user * {
            any emergency;
        }
        file messages {
            any notice;
            authorization info;
        }
    }
    ntp { # NTP servers #
{% if input.ntp is defined and input.ntp.ntp_servers is defined %}
    {%- for server in input.ntp.ntp_servers %}
        server {{ server }};
    {% endfor -%}
{% endif %}
        # Boot Servers #
{% if input.ntp is defined and input.ntp.ntp_boot_servers is defined %}
    {%- for boot_server in input.ntp.ntp_boot_servers %}
        boot-server {{ boot_server }};
    {% endfor -%}
{% endif %}
    }
}
snmp {
{% if input.snmp is defined and input.snmp.snmp_location is defined %}
    location "{{ input.snmp.snmp_location }}";
{% endif %}
{% if input.snmp is defined and input.snmp.snmp_contact is defined %}
    contact "{{ input.snmp.snmp_contact }}";
{% endif %}
{% if input.snmp is defined and input.snmp.snmp_communities is defined %}
    {% for comm in input.snmp.snmp_communities %}
        community {{ comm }} {
            authorization read-only;
        }
    {% endfor %}
{% endif %}
}

routing-options {
{% if input.static_routes is defined %}
    static {
    {% for static_route in input.static_routes %}
        {% if static_route.subnets is defined and static_route.nexthop is defined %}
            {% for subnet in static_route.subnets %}
                route {{subnet}} next-hop {{ static_route.nexthop }};
            {% endfor %}
        {% endif %}
    {% endfor %}
    }
{% endif %}
    router-id {{ prouter_info.physical_router_loopback_ip }};
    autonomous-system {{ as_numbers[0] }};
}

{% if input.enable_lldp == 'true' %}
protocols {
    lldp {
        interface all;
    }
}
{% endif %}
