{%- set cfg_group = "__contrail_" + feature + "__" %}
delete apply-groups {{cfg_group}}
delete groups {{cfg_group}}

{% if device_abstract_config is defined and device_abstract_config != None %}
{%     for ifd in device_abstract_config.get('physical_interfaces', []) %}
{%         if ifd.get('comment') == feature %}
{%             if ifd.name != 'lo0' %}
set groups {{cfg_group}} interfaces {{ifd.name}} mtu 9192
{%         endif %}
{%             for ifl in ifd.get('logical_interfaces', []) %}
delete interfaces {{ifd.name}} unit {{ifl.unit}}
set interfaces {{ifd.name}} unit {{ifl.unit}} family inet
{%                 if ifl.name == 'lo0.0' %}
set groups {{cfg_group}} interfaces {{ifd.name}} unit {{ifl.unit}} family inet address {{ifl.ip_list[0].address}}/32
{%                 else %}
set groups {{cfg_group}} interfaces {{ifd.name}} unit {{ifl.unit}} family inet address {{ifl.ip_list[0].address}}/30
{%                 endif %}
{%             endfor %}
{%         endif %}
{%     endfor %}

set groups {{cfg_group}} policy-options policy-statement PFE-LB then load-balance per-packet
set groups {{cfg_group}} policy-options policy-statement IPCLOS_BGP_EXP term loopback from interface lo0.0
set groups {{cfg_group}} policy-options policy-statement IPCLOS_BGP_EXP term loopback then accept
set groups {{cfg_group}} policy-options policy-statement IPCLOS_BGP_EXP term default then reject
set groups {{cfg_group}} policy-options policy-statement IPCLOS_BGP_IMP term loopback from protocol bgp
set groups {{cfg_group}} policy-options policy-statement IPCLOS_BGP_IMP term loopback then accept
set groups {{cfg_group}} policy-options policy-statement IPCLOS_BGP_IMP term default then reject

{%     for bgp in device_abstract_config.get('bgp', []) %}
{%         if bgp.get('comment') == feature %}
set groups {{cfg_group}} routing-options forwarding-table export PFE-LB
set groups {{cfg_group}} routing-options forwarding-table ecmp-fast-reroute
set groups {{cfg_group}} routing-options autonomous-system {{bgp.autonomous_system}}
set groups {{cfg_group}} routing-options router-id {{bgp.ip_address}}
set groups {{cfg_group}} routing-options route-distinguisher-id {{bgp.ip_address}}

set groups {{cfg_group}} protocols bgp log-updown
set groups {{cfg_group}} protocols bgp graceful-restart

{%             for peer in bgp.get('peers', []) %}
{%-                set bgp_group_name = "IPCLOS_eBGP_" + peer.comment + "_" + peer.ip_address %}
set groups {{cfg_group}} protocols bgp group {{bgp_group_name}} type external
set groups {{cfg_group}} protocols bgp group {{bgp_group_name}} multihop
set groups {{cfg_group}} protocols bgp group {{bgp_group_name}} mtu-discovery
set groups {{cfg_group}} protocols bgp group {{bgp_group_name}} multipath multiple-as
set groups {{cfg_group}} protocols bgp group {{bgp_group_name}} export IPCLOS_BGP_EXP
set groups {{cfg_group}} protocols bgp group {{bgp_group_name}} import IPCLOS_BGP_IMP
set groups {{cfg_group}} protocols bgp group {{bgp_group_name}} bfd-liveness-detection minimum-interval 350
set groups {{cfg_group}} protocols bgp group {{bgp_group_name}} bfd-liveness-detection multiplier 3
set groups {{cfg_group}} protocols bgp group {{bgp_group_name}} bfd-liveness-detection session-mode automatic
set groups {{cfg_group}} protocols bgp group {{bgp_group_name}} local-as {{bgp.autonomous_system}}
set groups {{cfg_group}} protocols bgp group {{bgp_group_name}} local-address {{bgp.ip_address}}
set groups {{cfg_group}} protocols bgp group {{bgp_group_name}} neighbor {{peer.ip_address}}
set groups {{cfg_group}} protocols bgp group {{bgp_group_name}} neighbor {{peer.ip_address}} description {{peer.comment}}
set groups {{cfg_group}} protocols bgp group {{bgp_group_name}} neighbor {{peer.ip_address}} peer-as {{peer.autonomous_system}}
{%             endfor %}
{%         endif %}
{%     endfor %}

set apply-groups {{cfg_group}}
{% endif %}
