- name: Update pb_input if interface_filters is not set already
  set_fact:
    pb_input: "{{pb_input | combine({'interface_filters': [{'op': 'regex', 'expr': '^xe|^ge|^et|^fxp|^xle|^fc|^fte|^lo0'}] })}}"
  when: "'interface_filters' not in pb_input"

- name: Execute commands on a Juniper Device to get configured interfaces
  block:
    - juniper_junos_config:
        provider:
          host: "{{junos_host}}"
          username: "{{junos_username}}"
          password: "{{junos_password}}"
          port: 22
          timeout: "{{JUNOS_COMMAND_TIMEOUT|int}}"
        retrieve: 'committed'
        filter: 'interfaces'
        diff: true
        check: false
        commit: false
        config_mode: 'private'
        format: xml
        options:
          inherit: inherit
      register: cfg_interface_info
  rescue:
    - name: Perform the necessary error handling
      include_tasks: error_handler.yml
      when: "cfg_interface_info.failed == true"
      vars:
        op_err_message: "{{cfg_interface_info.msg}}"
        jl_err_message: "Error while obtaining configured interface information from Juniper device: {{cfg_interface_info.msg}}"

- name: Execute commands on a Juniper Device
  block:
    - juniper_junos_command:
        commands:
          - show interfaces
        display: xml
        provider:
          host: "{{junos_host}}"
          username: "{{junos_username}}"
          password: "{{junos_password}}"
          port: 22
          timeout: "{{JUNOS_COMMAND_TIMEOUT|int}}"
      register: interface_info
  rescue:
    - name: Perform the necessary error handling
      include_tasks: error_handler.yml
      when: "interface_info.failed == true"
      vars:
        op_err_message: "{{interface_info.msg}}"
        jl_err_message: "Error while obtaining interface information from Juniper device: {{interface_info.msg}}"

- name: settings facts
  set_fact:
    interface_list: "{{cfg_interface_info|json_query('config_parsed.configuration.interfaces.interface')}}"
    interface_list_new: "{{interface_info|json_query('parsed_output.\"interface-information\".\"physical-interface\"')}}"

- name: Get the pattern object
  set_fact:
    pattern_obj: |
      {%- set regex_list = []                                                           %}
      {%- for filter in pb_input.get('interface_filters', {})                           %}
      {%-     if filter.get('op') == "regex"                                            %}
      {%-         set x=regex_list.append(filter.get('expr', None))                     %}
      {%-     endif                                                                     %}
      {%- endfor                                                                        %}
      {
       "regex_list": {{regex_list|to_json}}
      }

- name: get the regex str separated by |
  set_fact:
    regex_str: "{{pattern_obj.regex_list|join('|')}}"

- set_fact:
    rt_interfaces: "{{interface_list_new | junos_interface_info(prouter_name, regex_str)}}"

- set_fact:
    cf_interfaces: "{{interface_list | junos_conf_interface_info(prouter_name, regex_str)}}"

- set_fact:
    phy_int_payload: "{{rt_interfaces.phy_interfaces_payload}}+{{cf_interfaces.phy_interfaces_payload}}"

- set_fact:
    log_int_payload: "{{rt_interfaces.log_interfaces_payload}}+{{cf_interfaces.log_interfaces_payload}}"

- set_fact:
    dataplane_ip: "{{cf_interfaces.lo_interface_ip}}"

- name: Bulk Create Phy interfaces first
  vnc_db_mod:
    job_ctx: "{{ job_ctx }}"
    object_type: "physical_interface"
    object_op: "bulk_create"
    object_list: "{{phy_int_payload}}"
  register: bulk_create_phy_int_resp

- name: Bulk Create Log interfaces now
  vnc_db_mod:
    job_ctx: "{{ job_ctx }}"
    object_type: "logical_interface"
    object_op: "bulk_create"
    object_list: "{{log_int_payload}}"
  register: bulk_create_log_int_resp

- set_fact:
    bulk_create_phy_int_resp_set: "{{bulk_create_phy_int_resp.list_uuids|unique}}"
    bulk_create_log_int_resp_set: "{{bulk_create_log_int_resp.list_uuids|unique}}"

- name: update the dataplane ip
  block:
    - vnc_db_mod:
        job_ctx: "{{ job_ctx }}"
        object_type: "physical_router"
        object_op: "update"
        object_dict: |
          {
            "uuid": "{{playbook_input.device_id}}",
            "physical_router_dataplane_ip": "{{dataplane_ip}}",
            "physical_router_loopback_ip": "{{dataplane_ip}}"
          }
      register: upd_resp_lo0
  when: dataplane_ip != ''

- name: Update job log with percentage
  include_tasks: percentage_update.yml
  vars:
    current_index: 3
    jl_message: "Imported interface(s) from {{prouter_name}}:\n   - {{bulk_create_phy_int_resp_set|length}} physical interfaces\n   - {{bulk_create_log_int_resp_set|length}} logical interfaces\n   - loopback ip: {{dataplane_ip}}"

