---

- name: Copy dhcp config files on remote host
  block:
    - name: Read dhcp config file
      slurp:
        src: "{{ dhcp_dir+'/'+config_file }}"
      register: config_file_contents

    - name: Publish create dhcp config file message
      set_fact:
        publish_result: "{{ config_file_contents.content | create_dhcp_file(config_file, fabric_name, job_ctx) }}"

    - name: Read dhcp leases
      set_fact:
        publish_result: "{{ device_count | read_dhcp_leases(ztp_config['ipam_subnets'], config_file, fabric_name, job_ctx) }}"
  rescue:
    - set_fact:
        dhcp_output: {
          "status": "Failure",
          "results": {"jl_message": "Failed to copy DHCP config files"},
        }
  when: ztp_create == True

- name: Remove dhcp config files from remote host
  block:
    - name: Publish delete dhcp config file message
      set_fact:
        publish_result: "{{ config_file | delete_dhcp_file(fabric_name, job_ctx) }}"

    - name: Restart dhcp server
      set_fact:
        publish_result: "{{ config_file | restart_dhcp_server(fabric_name, job_ctx) }}"
  rescue:
    - set_fact:
        dhcp_output: {
          "status": "Failure",
          "results": {"jl_message": "Failed to remove DHCP config files"},
        }
  when: ztp_create == False
