- name: Check to see if the jinja file for the vendor and family exists
  stat:
    path: "{{role_path}}/templates/{{prouter_vendor}}_{{prouter_family}}.j2"
  register: p

- name: Use vendor and family specific template
  set_fact:
    jinja_file_path: "../templates/{{prouter_vendor}}_{{prouter_family}}.j2"
  when: p.stat.exists == True

- name: Use vendor specific template
  set_fact:
    jinja_file_path: "../templates/{{prouter_vendor}}.j2"
  when: p.stat.exists == False

- name: Check to see if the task file for the vendor and family exists
  stat:
    path: "{{role_path}}/tasks/{{prouter_vendor}}_{{prouter_family}}.yml"
  register: p

- name: Use vendor and family specific task
  set_fact:
    task_file_path: "{{prouter_vendor}}_{{prouter_family}}.yml"
  when: p.stat.exists == True

- name: Use vendor specific task
  set_fact:
    task_file_path: "{{prouter_vendor}}.yml"
  when: p.stat.exists == False

- name: Lookup physical router subnet
  set_fact:
    subnet: "{{ job_ctx | pr_subnet(fabric_uuid, prouter_fq_name) }}"

- name: Lookup supplemental config
  set_fact:
    supplemental_config: "{{ prouter_name | supplemental_config(device_to_ztp, supplemental_day_0_cfg) }}"
  when:
    - device_to_ztp is defined
    - supplemental_day_0_cfg is defined

- name: Generate vendor specific config
  set_fact:
    vendor_config: "{{lookup('template', jinja_file_path)}}"

- name: Print vendor specific config
  debug: var=vendor_config verbosity=1

- name: Update physical device with management interface mac
  vnc_db_mod:
    job_ctx: "{{ job_ctx }}"
    object_type: "physical_router"
    object_op: "update"
    object_dict: |
      {
        "uuid": "{{ prouter_uuid }}",
        "physical_router_management_mac": "{{ interface_configuration.get('mac_address') }}"
      }

- name: Do short timeout when static and dynamic mgmt addrs are different
  set_fact:
    vc_timeout: 10
  when: prouter_mgmt_ip != prouter_dynamic_ip

- name: Otherwise use default timeout
  set_fact:
    vc_timeout: "{{timeout}}"
  when: prouter_mgmt_ip == prouter_dynamic_ip

- name:  Lease info handling
  block:
    - name: Construct leased PR fq name
      set_fact:
        prouter_fq_name: ["default-global-system-config", "{{prouter_serial_num}}"]

    - name: Fq_name to id for pr
      vnc_db_mod:
        job_ctx: "{{ job_ctx }}"
        object_type: "physical_router"
        object_op: "fq_name_to_id"
        object_dict: |
          {
            "fq_name": "{{prouter_fq_name}}"
          }
      register: pr_uuid

    - name: Delete lease info from database
      vnc_db_mod:
        job_ctx: "{{ job_ctx }}"
        object_type: "physical_router"
        object_op: "delete"
        object_dict: |
          {
            "uuid": "{{pr_uuid.uuid}}"
          }
  when: prouter_mgmt_ip != prouter_dynamic_ip

- name: Override with vendor specific config
  include_tasks: "{{ task_file_path }}"
  vars:
    load: "override"
    format: "text"
    device_config: "{{ vendor_config }}"
    host: "{{ prouter_dynamic_ip }}"
    timeout: "{{vc_timeout}}"

- name: Print device response
  debug: msg="{{ device_push_response }}" verbosity=1
  when: device_push_response is defined

- block:
    - name: Wait for management port to reinitialize
      wait_for:
        host: "{{ prouter_mgmt_ip }}"
        port: 22
        delay: 0
        sleep: 5
      when: "routing_engines|length == 1"

    - name: Wait for management port to reinitialize - Juniper with dual RE
      wait_for:
        host: "{{ prouter_mgmt_ip }}"
        port: 22
        delay: 30
        sleep: 5
      when: "routing_engines|length > 1"

    - name: Commit device specific supplemental config
      include_tasks: "{{ task_file_path }}"
      vars:
        load: "set"
        format: "set"
        device_config: "{{ supplemental_config }}"
        host: "{{ prouter_mgmt_ip }}"

    - name: Print device response
      debug: msg="{{ device_push_response }}" verbosity=1
  when:
    - supplemental_config is defined
    - supplemental_config != ""
