python-subunit
testrepository
flexmock
coverage
pyaml
python-keystoneclient
webtest
kazoo
ncclient==0.6.3
jsonpickle
sandesh_common
contrail-api-client
contrail-api-server
../schema-transformer
xmltodict
pyOpenSSL
mock
fabric-ansible
pycryptodome
