{% if valid_groups_cfg is defined and valid_groups_cfg != None %}
{%     for group_item in valid_groups_cfg %}
{%         set cfg_group = group_item.name %}
{%         set bgp_group = group_item.protocols.bgp.group %}
{%         if bgp_group is mapping %}
{%             set bgp_group = [bgp_group] %}
{%         endif %}
{%         for bgp_item in bgp_group %}
{%             set bgp_group_name = bgp_item.name %}
{%             if bgp_item.type is defined and bgp_item.import is defined and bgp_item.type == "internal" and bgp_item.import == "REJECT-MAINTENANCE-MODE" %}
{%                 if device_maintenance_mode == "activate" %}
deactivate groups {{cfg_group}} protocols bgp group {{bgp_group_name}} import REJECT-MAINTENANCE-MODE
{%                 else %}
activate groups {{cfg_group}} protocols bgp group {{bgp_group_name}} import REJECT-MAINTENANCE-MODE
{%                 endif %}
{%             endif %}
{%         endfor %}
{%     endfor %}
{% endif %}
