set groups {{cfg_group}} policy-options policy-statement EVPN-LB term term1 from protocol evpn
set groups {{cfg_group}} policy-options policy-statement EVPN-LB term term1 then load-balance per-packet
set groups {{cfg_group}} routing-options forwarding-table export EVPN-LB
{% set ris = device_abstract_config.features.get('l2-gateway').get('routing_instances', []) %}
{% set ris = ris + device_abstract_config.features.get('vn-interconnect').get('routing_instances', []) %}
{% for ri in device_abstract_config.features.get('l3-gateway').get('routing_instances', []) %}
{%     if ri.get('is_public_network') == true %}
{%         do ris.append(ri) %}
{%     endif %}
{% endfor %}
{% for ri in ris %}
{%     if '_internal_vn_' in ri.name %}
{%         set name = ri.description %}
{%     else %}
{%         set name = ri.name %}
{%     endif %}
{%     set master = ri.get('is_master', false) %}
{%     if master != true %}
{%         set vrf_import = name+'-import' %}
{%         set vrf_export = name+'-export' %}
{%         for import_target in ri.get('import_targets', []) %}
{%             set community_target = import_target.replace(':', '_') %}
set groups {{cfg_group}} policy-options policy-statement {{vrf_import}} term t1 from community {{community_target}}
set groups {{cfg_group}} policy-options community {{community_target}} members {{import_target  | rtfilter}}
{%         endfor %}
set groups {{cfg_group}} policy-options policy-statement {{vrf_import}} term t1 then accept
set groups {{cfg_group}} switch-options vrf-import {{vrf_import}}
{%         for export_target in ri.get('export_targets', []) %}
{%             set community_target = export_target.replace(':', '_') %}
set groups {{cfg_group}} policy-options policy-statement {{vrf_export}} term t1 then community add {{community_target}}
set groups {{cfg_group}} policy-options community {{community_target}} members {{export_target  | rtfilter}}
{%         endfor %}
set groups {{cfg_group}} policy-options policy-statement {{vrf_export}} term t1 then accept
{%     endif %}
{% endfor %}
{% for bgp_elem in device_abstract_config.features.get('overlay-bgp').get('bgp', []) %}
{%     set families = bgp_elem.get('families', []) %}
{%     for fam in families %}
{%         if fam == 'evpn' %}
{%             set route_distinguisher = bgp_elem.get('ip_address') %}
{%             set as_number = bgp_elem.get('autonomous_system') %}
{%             if (as_number|int) <= 65535 %}
{%                 set esi_rt = (as_number|string) + ':7999999' %}
{%             else %}
{%                 set esi_rt = (as_number|string) + 'L:7999' %}
{%             endif %}
set groups {{cfg_group}} protocols evpn encapsulation vxlan
set groups {{cfg_group}} protocols evpn extended-vni-list all
set groups {{cfg_group}} switch-options vtep-source-interface lo0.0
set groups {{cfg_group}} switch-options route-distinguisher {{route_distinguisher}}:7999
set groups {{cfg_group}} switch-options vrf-target target:{{esi_rt}}
set groups {{cfg_group}} policy-options community community-esi-in members target:{{esi_rt}}
set groups {{cfg_group}} policy-options policy-statement import-evpn term esi-in from community community-esi-in
set groups {{cfg_group}} policy-options policy-statement import-evpn term esi-in then accept
set groups {{cfg_group}} policy-options policy-statement import-evpn term default-term then reject
set groups {{cfg_group}} switch-options vrf-import import-evpn
{%             for ri in device_abstract_config.features.get('l2-gateway').get('routing_instances', []) %}
{%                 set name = ri.get('name', '')[:127] %}
{%                 set vxlan_id = ri.get('vxlan_id', '') %}
{%                 for export_target in ri.get('export_targets', []) %}
set groups {{cfg_group}} protocols evpn vni-options vni {{vxlan_id}} vrf-target {{export_target | rtfilter}}
{%                 endfor %}
{%             endfor %}
{%         endif %}
{%     endfor %}
{% endfor %}
