{%     for phy_int in device_abstract_config.get('physical_interfaces', []) %}
{%         if phy_int.get('interface_type') != 'irb' and phy_int.get('interface_type') != 'loopback'%}
{%         set name = phy_int.get('name') %}
{%         if phy_int.get('link_aggregation_group') %}
set groups {{cfg_group}} interfaces {{name}} description "{{phy_int.get('link_aggregation_group').get('description')}}"
{%         endif %}
{%         for li in phy_int.get('logical_interfaces', []) %}
{%             set unit = li.get('unit') %}
{%             set vlan_id = li.get('vlan_tag') %}
set groups {{cfg_group}} interfaces {{name}} mtu 9192
set groups {{cfg_group}} interfaces {{name}} encapsulation extended-vlan-bridge
set groups {{cfg_group}} interfaces {{name}} flexible-vlan-tagging

set groups {{cfg_group}} interfaces {{name}} unit {{unit}} vlan-id {{vlan_id}}
{%             if li.get('is_tagged', false) == false %}
set groups {{cfg_group}} interfaces {{name}} native-vlan-id {{vlan_id}}
{%             endif %}
{%         endfor %}
{%         endif %}
{%     endfor %}
