{%    if enterprise_style == True %}
{%        include "juniper_junos-qfx_overlay_evpn_access_enterprise" %}
{%    else %}
{%        include "juniper_junos-qfx_overlay_evpn_access_sp" %}
{%    endif %}
