{%    if enterprise_style == True %}
{%        include "./roles/cfg_overlay_evpn_access/templates/juniper_junos-qfx_overlay_evpn_access_enterprise.j2" %}
{%    else %}
{%        include "./roles/cfg_overlay_evpn_access/templates/juniper_junos-qfx_overlay_evpn_access_sp.j2" %}
{%    endif %}
