{% set telemetry_profiles = device_abstract_config.get('features', {}).get('telemetry',{}).get('telemetry', []) %}
{% set tm_phy_intfs = device_abstract_config.get('features', {}).get('telemetry',{}).get('physical_interfaces', []) %}
{% set intf_scf_map = {} %}
{% for telemetry_profile in telemetry_profiles %}
{%     set tm_sflow_profile = telemetry_profile.get('sflow_profile', {}) %}
{%     if tm_sflow_profile %}
{%         set tm_sflow_adap_smpl_rt = tm_sflow_profile.get('adaptive_sample_rate') %}
{%         set tm_sflow_coll_ip = tm_sflow_profile.get('collector_params', {}).get('ip_address') %}
{%         set tm_sflow_udp_port = tm_sflow_profile.get('collector_params', {}).get('udp_port') %}
{%         set tm_sflow_agent_ip = tm_sflow_profile.get('agent_id') %}
{%         set tm_sflow_sample_rt = tm_sflow_profile.get('sample_rate') %}
{%         set tm_sflow_sample_dr = tm_sflow_profile.get('sample_direction') %}
{%         set tm_sflow_poll_intvl = tm_sflow_profile.get('polling_interval', 0) %}
{%         set tm_sflow_enbld_intf_type = tm_sflow_profile.get('enabled_interface_type') %}
{%         set tm_sflow_enbld_intf_params = tm_sflow_profile.get('enabled_interface_params', []) %}
{%         if tm_sflow_enbld_intf_params %}
{%             for tm_sflow_enbld_intf_param in tm_sflow_enbld_intf_params %}
{%                 set intf_name = tm_sflow_enbld_intf_param.get('name').split(':')[-1] %}
{%                 set x = intf_scf_map.update({ intf_name: {
                                                              'sample_rate': tm_sflow_enbld_intf_param.get('sample_rate'),
                                                              'polling_interval': tm_sflow_enbld_intf_param.get('polling_interval')
                                                            } }) %}
{%             endfor %}
{%         endif %}
{%         if tm_sflow_adap_smpl_rt %}
set groups {{cfg_group}} protocols sflow adaptive-sample-rate {{tm_sflow_adap_smpl_rt}} fallback
{%         endif %}
{%         if tm_sflow_coll_ip %}
{%             if tm_sflow_udp_port %}
set groups {{cfg_group}} protocols sflow collector {{tm_sflow_coll_ip}} udp-port {{tm_sflow_udp_port}}
{%             else %}
set groups {{cfg_group}} protocols sflow collector {{tm_sflow_coll_ip}}
{%             endif %}
{%         endif %}
{%         if tm_sflow_agent_ip %}
set groups {{cfg_group}} protocols sflow agent-id {{tm_sflow_agent_ip}}
{%         endif %}
{%         if tm_sflow_sample_rt %}
{%             if tm_sflow_sample_dr != None %}
set groups {{cfg_group}} protocols sflow sample-rate {{tm_sflow_sample_dr}} {{tm_sflow_sample_rt}}
{%             else %}
set groups {{cfg_group}} protocols sflow sample-rate ingress {{tm_sflow_sample_rt}}
{%             endif %}
{%         endif %}
{# hardcoding polling interval to 0 to make sure default is overwritten to a 0 #}
{# also, as polling intvl is not being used at present #}
set groups {{cfg_group}} protocols sflow polling-interval 0
{%         for tm_phy_intf in tm_phy_intfs %}
{%             set tm_phy_intf_name = tm_phy_intf.get('name') %}
{%             if tm_phy_intf_name | regex_search('^fxp|^lo0|^reth|^ae') %}
{%                 continue %}
{%             endif %}
set groups {{cfg_group}} protocols sflow interfaces {{tm_phy_intf_name}}
{%             if tm_sflow_enbld_intf_type == 'custom' %}
{%                 set intf_sample_rt = intf_scf_map.get(tm_phy_intf_name.replace(':', '_'), {}).get('sample_rate') %}
{%                 set intf_poll_intvl = intf_scf_map.get(tm_phy_intf_name.replace(':', '_'), {}).get('polling_interval') %}
{%                 if intf_sample_rt %}
set groups {{cfg_group}} protocols sflow interfaces {{tm_phy_intf_name}} sample-rate ingress {{intf_sample_rt}}
{%                 endif %}
{%                 if intf_poll_intvl %}
{# hardcoding polling interval to 0 to make sure default is overwritten to a 0 #}
{# also, as polling intvl is not being used at present #}
set groups {{cfg_group}} protocols sflow interfaces {{tm_phy_intf_name}} polling-interval 0
{%                 endif %}
{%             endif %}
{%         endfor %}
{%     endif %}
{% endfor %}
