delete apply-groups __contrail_{{feature}}__
delete groups __contrail_{{feature}}___

{% if device_abstract_config is defined and device_abstract_config != None %}
{%     for ri in device_abstract_config.get('routing_instances', []) %}
{%         set ri_vn_mode = ri.get('virtual_network_mode') %}
{%         if (ri_vn_mode == 'l2') or ('l2' in ri.name)  %}
{%             set contrail_l2_ri = ri.name %}
{%             set l2_vrf_import = ri.name+'-import' %}
{%             set l2_vrf_export = ri.name+'-export' %}
{%             set bridge_domain_name = 'bd-'+(ri.virtual_network_id|string) %}
{%             set irb_interface = 'irb.'+(ri.virtual_network_id|string)  %}
{%             set vn_id  = ri.get('virtual_network_id')  %}
{%             set ri_type  = ri.get('routing_instance_type')  %}
set groups __contrail_{{feature}}__ routing-instances {{contrail_l2_ri}} vtep-source-interface lo0.0
set groups __contrail_{{feature}}__ routing-instances {{contrail_l2_ri}} instance-type {{ri_type}}
set groups __contrail_{{feature}}__ routing-instances {{contrail_l2_ri}} vrf-import {{l2_vrf_import}}
set groups __contrail_{{feature}}__ routing-instances {{contrail_l2_ri}} vrf-export {{l2_vrf_export}}
set groups __contrail_{{feature}}__ routing-instances {{contrail_l2_ri}} protocols evpn encapsulation vxlan
set groups __contrail_{{feature}}__ routing-instances {{contrail_l2_ri}} protocols extended vni-list all
set groups __contrail_{{feature}}__ routing-instances {{contrail_l2_ri}} bridge-domains {{bridge_domain_name}} vlan-id none
set groups __contrail_{{feature}}__ routing-instances {{contrail_l2_ri}} bridge-domains {{bridge_domain_name}} routing-interface {{irb_interface}}
set groups __contrail_{{feature}}__ routing-instances {{contrail_l2_ri}} bridge-domains {{bridge_domain_name}} vxlan vni {{vn_id}}
set groups __contrail_{{feature}}__ policy-options policy-statement {{l2_vrf_import}} term t1
set groups __contrail_{{feature}}__ policy-options policy-statement {{l2_vrf_export}} term t1
{%             for import_target in ri.get('import_targets', []) %}
{%                 set community_target = import_target.replace(':', '_') %}
set groups __contrail_{{feature}}__ policy-options policy-statement {{l2_vrf_import}} term t1 from community {{community_target}}
{%             endfor %}
set policy-options policy-statement {{l2_vrf_import}} term t1 then accept
set policy-options policy-statement {{l2_vrf_import}} then reject

{%             for export_target in ri.get('export_targets', []) %}
{%                 set community_target = export_target.replace(':', '_') %}
set groups __contrail_{{feature}}__ policy-options policy-statement {{l2_vrf_export}} term t1 from community {{community_target}}
{%             endfor %}
set groups __contrail_{{feature}}__ policy-options policy-statement {{l2_vrf_export}} term t1 then accept
set groups __contrail_{{feature}}__ policy-options policy-statement {{l2_vrf_export}} then reject

{%         endif %}
{%         if (ri_vn_mode == 'l3') or ('l3' in ri.name)  %}
{%             set contrail_l3_ri = ri.name %}
{%             set irb_interface = 'irb.'+(ri.get('virtual_network_id')|string)  %}
{%             set l3_vrf_import = ri.name+'-import' %}
{%             set l3_vrf_export = ri.name+'-export' %}
set groups __contrail_{{feature}}__ routing-instances {{contrail_l3_ri}} instance-type vrf
set groups __contrail_{{feature}}__ routing-instances {{contrail_l3_ri}} interface {{irb_interface}}
set groups __contrail_{{feature}}__ routing-instances {{contrail_l3_ri}} vrf-import {{l3_vrf_import}}
set groups __contrail_{{feature}}__ routing-instances {{contrail_l3_ri}} vrf-export {{l3_vrf_export}}
set groups __contrail_{{feature}}__ routing-instances {{contrail_l3_ri}} vrf-table-label
{%             set inet4 = False %}
{%             set inet6 = False %}
{%             for subnet in ri.get('prefixes', []) %}
{%                 set cidr = subnet.get('prefix') + '/' + (subnet.get('prefix_len')|string) %}
{%                 if (':' in cidr) %}
{%                     if inet6 == False %}
{%                         set inet6 = True %}
{%                     endif %}
{%                 else %}
{%                     if inet4 == False %}
{%                         set inet4 = True %}
{%                     endif %}
{%                 endif %}
set groups __contrail_{{feature}}__ routing-instances {{contrail_l3_ri}} routing-options static route {{cidr}} discard
{%             endfor %}
{%             if inet4 == True %}
set groups __contrail_{{feature}}__ routing-instances {{contrail_l3_ri}} routing-options auto-export family inet unicast 
{%             endif %}
{%             if inet6 == True %}
set groups __contrail_{{feature}}__ routing-instances {{contrail_l3_ri}} routing-options auto-export family inet6 unicast
{%             endif %}
set groups __contrail_{{feature}}__ policy-options policy-statement {{l3_vrf_import}} term t1
set groups __contrail_{{feature}}__ policy-options policy-statement {{l3_vrf_export}} term t1
{%             for import_target in ri.get('import_targets', []) %}
{%                 set community_target = import_target.replace(':', '_') %}
set groups __contrail_{{feature}}__ policy-options policy-statement {{l3_vrf_import}} term t1 from community {{community_target}}
{%             endfor %}
set policy-options policy-statement {{l3_vrf_import}} term t1 then accept
set policy-options policy-statement {{l3_vrf_import}} then reject

{%             for export_target in ri.get('export_targets', []) %}
{%                 set community_target = export_target.replace(':', '_') %}
set groups __contrail_{{feature}}__ policy-options policy-statement {{l3_vrf_export}} term t1 from community {{community_target}}
{%             endfor %}
set groups __contrail_{{feature}}__ policy-options policy-statement {{l3_vrf_export}} term t1 then accept
set groups __contrail_{{feature}}__ policy-options policy-statement {{l3_vrf_export}} then reject
{%         endif %}

{%         if (ri_vn_mode == 'l3') and (ri.get('is_public_network') == True)  %}
{%             set contrail_l3_ri = ri.name %}
set groups __contrail_{{feature}}__ forwarding-options family inet filter input redirect_to_public_vrf_filter
{%             for subnet in ri.get('prefixes', []) %}
{%                 set cidr = subnet.get('prefix') + '/' + (subnet.get('prefix_len')|string) %}
{%                 if (':' in cidr) %}
set groups __contrail_{{feature}}__ firewall family inet6 filter redirect_to_public_vrf_filter term term-{{contrail_l3_ri}} from destination-address {{cidr}}
{%                 else %}
set groups __contrail_{{feature}}__ firewall family inet filter redirect_to_public_vrf_filter term term-{{contrail_l3_ri}} from destination-address {{cidr}}
{%                 endif %}
{%             endfor %}
set groups __contrail_{{feature}}__ firewall family inet filter redirect_to_public_vrf_filter term term-{{contrail_l3_ri}} then routing-instance {{contrail_l3_ri}}
set groups __contrail_{{feature}}__ firewall family inet filter redirect_to_public_vrf_filter term default-term then accept
set groups __contrail_{{feature}}__ routing-instances {{contrail_l3_ri}} routing-options static route 0.0.0.0/0 next-table inet.0
{%         endif %}
           
{%     endfor %}
set apply-groups __contrail_{{feature}}__
{% endif %}
