set groups {{cfg_group}} protocols igmp-snooping vlan all proxy
set groups {{cfg_group}} forwarding-options multicast-replication evpn irb local-remote
{% for ri in device_abstract_config.get('features', {}).get('vn-interconnect', {}).get('routing_instances', []) %}
{%     set master = ri.get('is_master', false) %}
{%     if master != true %}
{%         set name = ri.get('description', '')[:127] %}
{%         for intf in ri.get('routing_interfaces', []) %}
{%             set irb_name = intf.get('name') %}
set groups {{cfg_group}} routing-instances {{name}} protocols pim interface {{irb_name}} family inet
set groups {{cfg_group}} routing-instances {{name}} protocols pim interface {{irb_name}} mode sparse-dense
{%         endfor %}
{%     endif %}
{% endfor %}
