{%     for bgp in device_abstract_config.get('bgp', []) %}
{%         if feature in bgp.get('comment') %}
{%             set contrail_asn_group = '_contrail_asn-'+(bgp.autonomous_system|string) %}
set groups {{cfg_group}} routing-options dynamic-tunnels {{contrail_asn_group}} source-address {{bgp.get('ip_address')}}
{%             set encap_mode = device_abstract_config.get('system', {}).get('highest_encapsulation_priority', []) %}
{%             if encap_mode == 'MPLSoUDP' %}
set groups {{cfg_group}} routing-options dynamic-tunnels {{contrail_asn_group}} udp
set groups {{cfg_group}} protocols bgp group {{contrail_asn_group}} export mpls_over_udp
set groups {{cfg_group}} policy-options policy-statement mpls_over_udp term 1 then community add encap-udp
set groups {{cfg_group}} policy-options policy-statement mpls_over_udp term 1 then accept
set groups {{cfg_group}} policy-options community encap-udp members 0x030c:64512:13
{%             else %}
set groups {{cfg_group}} routing-options dynamic-tunnels {{contrail_asn_group}} gre
{%             endif %}
{%             for peer in bgp.get('peers', []) %}
set groups {{cfg_group}} protocols bgp group {{contrail_asn_group}} neighbor {{peer.get('ip_address')}} peer-as {{peer.get('autonomous_system')}} 
{%             endfor %}
{%             set system_info = device_abstract_config.get('system') %}
{%             for net in system_info.get('tunnel_destination_networks', []) %}
set groups {{cfg_group}} routing-options dynamic-tunnels {{contrail_asn_group}} destination-networks {{net.get('prefix')}}/{{net.get('prefix_len')}}
{%             endfor %}
set groups {{cfg_group}} protocols bgp group {{contrail_asn_group}} type {{bgp.get('type_')}}
set groups {{cfg_group}} protocols bgp group {{contrail_asn_group}} local-address {{bgp.get('ip_address')}}
set groups {{cfg_group}} protocols bgp group {{contrail_asn_group}} hold-time {{bgp.hold_time}}
set groups {{cfg_group}} protocols bgp group {{contrail_asn_group}} multipath
{%             for family in bgp.get('families', []) %}
{%                 if family.startswith('inet') %}
{%                     set mode='unicast' %}
{%                 elif family == 'evpn' %}
{%                     set mode='signaling' %}
{%                 else %}
{%                     set mode='' %}
{%                 endif %}
set groups {{cfg_group}} protocols bgp group {{contrail_asn_group}} family {{family}} {{mode}} 
{%             endfor %}
{%             if bgp.get('type_') == 'internal' %}
{%                 for family in bgp.get('families', []) %}
{%                     if family.startswith('inet') %}
set groups {{cfg_group}} policy-options policy-statement _contrail_ibgp_export_policy term {{family}} from family {{family}}
set groups {{cfg_group}} policy-options policy-statement _contrail_ibgp_export_policy term {{family}} then next-hop self
set groups {{cfg_group}} protocols bgp group {{contrail_asn_group}} export _contrail_ibgp_export_policy
{%                     endif %}
{%                 endfor %}
{%             endif %}
{%         endif %}
{%     endfor %}
