{%     set loopback_ip_list = device_abstract_config.get('system', {}).get('loopback_ip_list', []) %}
{%     set bf_global_asn = device_abstract_config.get('system', {}).get('brownfield_global_asn', '') %}
{%     if loopback_ip_list|length > 0 %}
{%         set loopback_ip = loopback_ip_list[0] %}
{%         if loopback_ip %}
set groups {{cfg_group}} routing-options router-id {{loopback_ip}}
set groups {{cfg_group}} routing-options route-distinguisher-id {{loopback_ip}}
{%         endif %}
{%     endif %}

{%     for bgp in device_abstract_config.get('bgp', []) %}
{%         if feature in bgp.get('comment') %}
set groups {{cfg_group}} routing-options resolution rib bgp.rtarget.0 resolution-ribs inet.0
set groups {{cfg_group}} routing-options autonomous-system {{bf_global_asn}}
{%             set bgp_group_name = bgp.get('name') %}
{%             set bgp_group_type = bgp.get('type_') %}
set groups {{cfg_group}} protocols bgp group {{bgp_group_name}} local-as {{bgp.autonomous_system}}
{%             set sys_config = device_abstract_config.get('system', None) %}
{%             set sys_roles = sys_config.get('routing_bridging_roles', []) %}
{%             set crb_enabled = false %}
{%             if ('CRB-Gateway' in sys_roles) %}
{%                 set crb_enabled = true %}
{%             endif %}
{# We will set the GRE or UDP related dynamic tunnels only if they are in highest priority #}
{%             set encap_priorities = device_abstract_config.get('system', {}).get('encapsulation_priorities', []) %}
{%             set dynamic_tunnels = false %}
{%             if encap_priorities|length > 0 and encap_priorities[0] == 'MPLSoUDP' %}
{%                 set tunnel_type = '_contrail_udp_tunnel' %}
set groups {{cfg_group}} routing-options dynamic-tunnels {{tunnel_type}} udp
set groups {{cfg_group}} protocols bgp group {{bgp_group_name}} export mpls_over_udp
set groups {{cfg_group}} protocols bgp group {{bgp_group_name}} vpn-apply-export
set groups {{cfg_group}} policy-options policy-statement mpls_over_udp term 1 then community add encap-udp
set groups {{cfg_group}} policy-options policy-statement mpls_over_udp term 1 then accept
set groups {{cfg_group}} policy-options community encap-udp members 0x030c:64512:13
{%                 set dynamic_tunnels = true %}
{%             elif encap_priorities[0] == 'MPLSoGRE' %}
{%                 set tunnel_type = '_contrail_gre_tunnel' %}
set groups {{cfg_group}} routing-options dynamic-tunnels {{tunnel_type}} gre
{%                 set dynamic_tunnels = true %}
{%             endif %}
{%             if dynamic_tunnels == true %}
set groups {{cfg_group}} routing-options dynamic-tunnels {{tunnel_type}} source-address {{bgp.get('ip_address')}}
{%             endif %}
{%             for peer in bgp.get('peers', []) %}
set groups {{cfg_group}} protocols bgp group {{bgp_group_name}} neighbor {{peer.get('ip_address')}} peer-as {{peer.get('autonomous_system')}}
{%             endfor %}
{%             set system_info = device_abstract_config.get('system') %}
{%             if dynamic_tunnels == true %}
{%                 for net in system_info.get('tunnel_destination_networks', []) %}
set groups {{cfg_group}} routing-options dynamic-tunnels {{tunnel_type}} destination-networks {{net.get('prefix')}}/{{net.get('prefix_len')}}
{%                 endfor %}
{%             endif %}
set groups {{cfg_group}} protocols bgp group {{bgp_group_name}} type {{bgp_group_type}}
{%             set cluster_id = bgp.get('cluster_id') %}
{%             if cluster_id != None %}
set groups {{cfg_group}} protocols bgp group {{bgp_group_name}} cluster {{cluster_id}}
{%             endif %}
set groups {{cfg_group}} protocols bgp group {{bgp_group_name}} local-address {{bgp.get('ip_address')}}
set groups {{cfg_group}} protocols bgp group {{bgp_group_name}} hold-time {{bgp.get('hold_time')}}
set groups {{cfg_group}} protocols bgp group {{bgp_group_name}} multipath
set groups {{cfg_group}} protocols bgp group {{bgp_group_name}} vpn-apply-export
{%             for family in bgp.get('families', []) %}
{%                 if family == 'inet-labeled' %}
{%                       set family = 'inet' %}
{%                       set mode = 'labeled-unicast' %}
{%                 elif family.startswith('inet') and crb_enabled == false %}
{%                     set mode='unicast' %}
{%                 elif family == 'evpn' %}
{%                     set mode='signaling' %}
{%                 else %}
{%                     set mode='' %}
{%                 endif %}
set groups {{cfg_group}} protocols bgp group {{bgp_group_name}} family {{family}} {{mode}}
{%             endfor %}
{%             if bgp_group_type == 'external' %}
set groups {{cfg_group}} protocols bgp group {{bgp_group_name}} multihop
{%             endif %}
{%             if bgp_group_type == 'internal' %}
{%                 for family in bgp.get('families', []) %}
{%                     if family == 'inet-labeled' %}
{%                         set family_input='inet' %}
{%                     elif family.startswith('inet') %}
{%                         set family_input = family %}
set groups {{cfg_group}} policy-options policy-statement _contrail_ibgp_export_policy term {{family}} from family {{family_input}}
set groups {{cfg_group}} policy-options policy-statement _contrail_ibgp_export_policy term {{family}} then next-hop self
set groups {{cfg_group}} protocols bgp group {{bgp_group_name}} export _contrail_ibgp_export_policy
{%                     endif %}
{%                 endfor %}
{%             endif %}
{%         endif %}
{%     endfor %}
